<div class="modal-header">
  <h4 class="modal-title">
    {{ result.exam.name }}
  </h4>
  <button
    type="button"
    class="btn-close"
    aria-label="close"
    (click)="modal.dismiss('close button')"
  ></button>
</div>
<div class="modal-body">
  <h5>
    <span class="text-muted">{{ result.student.name }}</span> - Puntaje:
    {{ result.points }} / {{ result.totalPoints }}
  </h5>
  <div *ngFor="let answer of result.answers; let i = index" class="card">
    <div *ngIf="answer.question.type.code === 0" class="card-body">
      <div class="float-end bold-text">
        <form class="form d-flex align-items-center">
          <div class="form-group">
            <label for="answer-{{ i }}">Puntos: </label>
            <input
              type="number"
              name="answer-{{ i }}"
              id="answer-{{ i }}"
              [(ngModel)]="answer.points"
              class="form-control mx-2 points"
              placeholder=""
            />
          </div>
          <span> /{{ answer.question.points }} </span>
        </form>
      </div>
      <div
        [ngxSummernoteView]="answer.question.questionText"
        class="medium-text black-text"
      ></div>
      <div class="option d-flex align-items-center mb-2">
        <i
          *ngIf="!answer.responseBoolean"
          class="far fa-circle fa-lg me-2 text-muted"
          aria-hidden="true"
        ></i>
        <i
          *ngIf="answer.responseBoolean"
          class="fas fa-check-circle fa-lg me-2"
          [ngClass]="{
            'fa-check-circle text-success': isCorrect(answer),
            'fa-times-circle text-danger': !isCorrect(answer)
          }"
          aria-hidden="true"
        ></i>
        <span class="medium-text">Cierto</span>
      </div>
      <div class="option d-flex align-items-center mb-2">
        <i
          *ngIf="answer.responseBoolean"
          class="far fa-circle fa-lg me-2 text-muted"
          aria-hidden="true"
        ></i>
        <i
          *ngIf="!answer.responseBoolean"
          class="fas fa-check-circle fa-lg me-2"
          [ngClass]="{
            'fa-check-circle text-success': isCorrect(answer),
            'fa-times-circle text-danger': !isCorrect(answer)
          }"
          aria-hidden="true"
        ></i>
        <span class="medium-text">Falso</span>
      </div>
    </div>
    <div *ngIf="answer.question.type.code === 1" class="card-body">
      <div class="float-end bold-text">
        <form class="form d-flex align-items-center">
          <div class="form-group">
            <label for="answer-{{ i }}">Puntos: </label>
            <input
              type="number"
              name="answer-{{ i }}"
              id="answer-{{ i }}"
              [(ngModel)]="answer.points"
              class="form-control mx-2 points"
              placeholder=""
            />
          </div>
          <span>/{{ answer.question.points }}</span>
        </form>
      </div>
      <div
        [ngxSummernoteView]="answer.question.questionText"
        class="medium-text black-text"
      ></div>
      <div
        class="option d-flex align-items-center mb-2"
        *ngFor="let option of answer.question.options"
      >
        <i
          *ngIf="option.optionText !== answer.selection?.optionText"
          class="far fa-circle fa-lg me-2 text-muted"
          aria-hidden="true"
        ></i>
        <i
          *ngIf="option.optionText === answer.selection?.optionText"
          class="fas fa-check-circle fa-lg me-2"
          [ngClass]="{
            'fa-check-circle text-success': answer.selection?.isCorrect,
            'fa-times-circle text-danger': !answer.selection?.isCorrect
          }"
          aria-hidden="true"
        ></i>
        <div [ngxSummernoteView]="option.optionText"></div>
        <span
          *ngIf="option.isCorrect"
          class="ms-3 badge badge-pill badge-success"
          >Respuesta correcta</span
        >
      </div>
    </div>
    <div *ngIf="answer.question.type.code === 2" class="card-body">
      <div class="float-end bold-text">
        <form class="form d-flex align-items-center">
          <div class="form-group">
            <label for="answer-{{ i }}">Puntos: </label>
            <input
              type="number"
              name="answer-{{ i }}"
              id="answer-{{ i }}"
              [(ngModel)]="answer.points"
              class="form-control mx-2 points"
              placeholder=""
            />
          </div>
          <span> /{{ answer.question.points }}</span>
        </form>
      </div>
      <h5><div [ngxSummernoteView]="answer.question.questionText"></div></h5>
      Respuesta:
      <p>{{ answer.responseText }}</p>
    </div>
    <div *ngIf="answer.question.type.code === 3" class="card-body">
      <div class="float-end bold-text">
        <form class="form d-flex align-items-center">
          <div class="form-group">
            <label for="answer-{{ i }}">Puntos: </label>
            <input
              type="number"
              name="answer-{{ i }}"
              id="answer-{{ i }}"
              [(ngModel)]="answer.points"
              (ngModelChange)="updatePoints(i, $event)"
              class="form-control mx-2 points"
              placeholder=""
            />
          </div>
          <span> /{{ answer.question.points }}</span>
        </form>
      </div>
      <h5><div [ngxSummernoteView]="answer.question.questionText"></div></h5>
      Respuesta:
      <div [ngxSummernoteView]="answer.responseText"></div>
    </div>
    <div *ngIf="answer.question.type.code === 4" class="card-body">
      <div class="float-end bold-text">
        <form class="form d-flex align-items-center">
          <div class="form-group">
            <label for="answer-{{ i }}">Puntos: </label>
            <input
              type="number"
              name="answer-{{ i }}"
              id="answer-{{ i }}"
              [(ngModel)]="answer.points"
              (ngModelChange)="updatePoints(i, $event)"
              class="form-control mx-2 points"
              placeholder=""
            />
          </div>
          <span>/{{ answer.question.points }}</span>
        </form>
      </div>
      <h5><div [ngxSummernoteView]="answer.question.questionText"></div></h5>
      Respuesta:
      <p>{{ answer.responseNumber }}</p>
    </div>
    <div *ngIf="answer.question.type.code === 5" class="card-body">
      <div class="float-end bold-text">
        <form class="form d-flex align-items-center">
          <div class="form-group">
            <label for="answer-{{ i }}">Puntos: </label>
            <input
              type="number"
              name="answer-{{ i }}"
              id="answer-{{ i }}"
              [(ngModel)]="answer.points"
              (ngModelChange)="updatePoints(i, $event)"
              class="form-control mx-2 points"
              placeholder=""
            />
          </div>
          <span>/{{ answer.question.points }}</span>
        </form>
      </div>
      <h5><div [ngxSummernoteView]="answer.question.questionText"></div></h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Opción</th>
            <th scope="col">Respuesta</th>
            <th scope="col">Respuesta correcta</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let match of answer.matchList">
            <td><div [ngxSummernoteView]="match?.optionText"></div></td>
            <td>
              <ng-container *ngFor="let item of match?.selectedMatch">
                <div [ngxSummernoteView]="item"></div>
              </ng-container>
            </td>
            <td>
              <div [ngxSummernoteView]="match.correctMatch"></div>
            </td>
            <td>
              <i
                class="fas fa-lg me-2"
                [ngClass]="{
                  'fa-check-circle text-success':
                    match?.selectedMatch[0] === match?.correctMatch,
                  'fa-times-circle text-danger':
                    match?.selectedMatch[0] !== match?.correctMatch
                }"
                aria-hidden="true"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="saveGrades()">
    Guardar puntuación
  </button>
</div>
