<div @fade>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{ 'Assignments' | transloco }}</h4>
      <div class="container mb-4">
        <div class="row text-center mb-4">
          <div class="col-md-4">
            <div class="btn-group">
              <div
                class="btn btn-primary btn-sm"
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()"
              >
                <i
                  class="bi bi-skip-backward medium-text"
                  aria-hidden="true"
                ></i>
              </div>
              <div
                class="btn btn-outline-secondary btn-sm"
                mwlCalendarToday
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()"
              >
                {{ 'Today' | transloco }}
              </div>
              <div
                class="btn btn-primary btn-sm"
                mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()"
              >
                <i
                  class="bi bi-skip-forward medium-text"
                  aria-hidden="true"
                ></i>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h6>
              {{
                viewDate
                  | calendarDate : view + 'ViewTitle' : 'es-PA' : weekStartsOn
              }}
            </h6>
          </div>
          <div class="col-md-4">
            <div class="btn-group">
              <div
                class="btn btn-primary btn-sm"
                (click)="setView(CalendarView.Month)"
                [class.active]="view === CalendarView.Month"
              >
                {{ 'Month' | transloco }}
              </div>
              <div
                class="btn btn-primary btn-sm"
                (click)="setView(CalendarView.Week)"
                [class.active]="view === CalendarView.Week"
              >
                {{ 'Week' | transloco }}
              </div>
            </div>
          </div>
        </div>
        <ng-template #loading>
          <div class="text-center">
            <skooltrak-loading-modal></skooltrak-loading-modal>
          </div>
        </ng-template>
        <div class="container-fluid">
          <div *ngIf="assignment$ | async; else loading; let events">
            <div [ngSwitch]="view">
              <mwl-calendar-month-view
                *ngSwitchCase="'month'"
                [viewDate]="viewDate"
                [events]="events"
                [weekStartsOn]="weekStartsOn"
                [excludeDays]="excludeDays"
                [activeDayIsOpen]="activeDayIsOpen"
                (dayClicked)="dayClicked($event.day)"
                (eventClicked)="selectDay($event.event)"
              >
              </mwl-calendar-month-view>
              <ng-container *ngSwitchCase="'week'">
                <ng-container *ngIf="!isLoading; else loading">
                  <div *ngFor="let day of mapped" class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{ formatDate(day.date) }}</h5>
                      <div
                        *ngFor="let task of day.assignments"
                        class="day-container"
                      >
                        <div class="card-body">
                          <h6 class="card-title">
                            {{ task.course?.name }}/{{ task.title }} -
                            <small class="clear-text">{{
                              task.type?.name
                            }}</small>
                          </h6>
                          <div [ngxSummernoteView]="task.description"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <ng-template #loading>
                  <skooltrak-loading-modal></skooltrak-loading-modal>
                </ng-template>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button
  type="button"
  (click)="createAssignment()"
  class="btn btn-primary rounded-pill float-button"
>
  <i class="bi bi-calendar3"></i> {{ 'New assignment' | transloco }}
</button>
