<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ 'Edit school' | transloco }}</h4>
    <ng-container *ngIf="school$ | async as school; else loading">
      <skooltrak-schools-form
        [school]="school"
        (save)="updateSchool($event)"
      ></skooltrak-schools-form>
    </ng-container>
    <ng-template #loading>
      <skooltrak-loading-modal></skooltrak-loading-modal>
    </ng-template>
  </div>
</div>
