<div @fade class="card">
  <div class="card-body">
    <h3 class="card-title">{{ 'My courses' | transloco }}</h3>
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="bi bi-laptop"></i> {{ 'Courses' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <div class="mx-3">
            <ng-container *ngIf="courses$ | async as courses; else loading">
              <div class="row">
                <div
                  *ngFor="let course of courses"
                  class="col-xl-3 col-lg-4 col-sm-6"
                >
                  <div class="card shadow-medium pointer">
                    <div
                      class="img-container py-3 px-5"
                      (click)="goToCourse(course)"
                      [style.background]="coursesService.getColor(course)"
                    >
                      <img
                        [src]="coursesService.getIcon(course)"
                        [alt]="course.name"
                        class="card-img-top"
                      />
                    </div>
                    <div class="card-body" (click)="goToCourse(course)">
                      <h5 class="card-title mb-2">{{ course.subject.name }}</h5>
                      <p class="card-subtitle clear-text">
                        {{ course.plan.name }}
                      </p>
                      <span class="badge badge-purple badge-pill">{{
                        course.currentPeriod?.name
                      }}</span>
                    </div>
                    <div class="card-footer">
                      <button
                        type="button"
                        (click)="edit(course)"
                        class="btn btn-primary btn-sm"
                      >
                        <i class="bi bi-palette-fill" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>

          <ng-template #loading>
            <skooltrak-loading-modal></skooltrak-loading-modal>
          </ng-template>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink><i class="bi bi-window-dock"></i> Salones virtuales</a>
        <ng-template ngbNavContent>
          <skooltrak-classrooms></skooltrak-classrooms>
        </ng-template>
      </li>
    </ul>
    <div class="mt-2" [ngbNavOutlet]="nav"></div>
  </div>
</div>
