<div class="card">
  <div
    class="card-header d-flex align-items-center"
    [style.background]="course.color"
    [style.color]="'white'"
  >
    <img
      src="assets/icons/course-{{ course.icon }}.svg"
      [alt]="course.name"
      class="logo me-4"
    />
    <div>
      <h4>
        {{ course.subject.name }} <small>{{ course.plan.name }}</small>
      </h4>
      <h5>
        <i class="bi bi-person-badge me-2" aria-hidden="true"></i>
        <span class="me-2" *ngFor="let teacher of course.teachers">{{
          teacher.name
        }}</span>
      </h5>
    </div>
  </div>
  <div class="card-body">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="bi bi-journal-text" aria-hidden="true"></i>
          {{ 'Contents' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <skooltrak-content [course]="course"></skooltrak-content>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="bi bi-camera-video" aria-hidden="true"></i>
          {{ 'Meeting' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <skooltrak-meetings [course]="course"></skooltrak-meetings>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="bi bi-calendar3" aria-hidden="true"></i>
          {{ 'Schedule' | transloco }}
        </a>
        <ng-template ngbNavContent
          ><skooltrak-schedule [course]="course"></skooltrak-schedule>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="bi bi-chat-quote" aria-hidden="true"></i>
          {{ 'Forums' | transloco }}
        </a>
        <ng-template ngbNavContent
          ><skooltrak-forums [course]="course"></skooltrak-forums>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="bi bi-megaphone" aria-hidden="true"></i>
          {{ 'Announcements' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <skooltrak-messages [course]="course"></skooltrak-messages>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>
</div>
<ng-template #loading>
  <skooltrak-loading-modal></skooltrak-loading-modal>
</ng-template>
