<div class="card">
  <div class="card-body">
    <h3 class="card-title">{{ 'My grades' | transloco }}</h3>
    <ng-container *ngIf="score$ | async; let score">
      <h4>
        Promedio actual:
        <span
          [ngClass]="{
            'success-text': score >= 4,
            'warning-text': score >= 3 && score < 4,
            'danger-text': score < 3
          }"
          >{{ score | number: '1.2-3' }}</span
        >
      </h4>
    </ng-container>

    <ng-container *ngIf="periods$ | async; let periods">
      <ul ngbNav #nav="ngbNav" class="nav-pills">
        <li [ngbNavItem] [destroyOnHide]="false" *ngFor="let period of periods">
          <a ngbNavLink>
            {{ period.name }}
          </a>
          <ng-template ngbNavContent>
            <skooltrak-period-grade [period]="period"></skooltrak-period-grade>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </ng-container>
  </div>
</div>
