<div class="sidebar-wrapper">
  <div class="dropdown header d-flex flex-column mb-0">
    <img [src]="school.getLogo(session.currentSchool)" class="school-logo" alt="">
  </div>
  <div class="list-group list-group-flush">
    <a
      *ngFor="let link of links"
      routerLinkActive="active"
      [routerLink]="link.route"
      class="list-group-item list-group-item-action"
    >
      <i [class]="link.icon" aria-hidden="true"></i>
      {{ link.label | transloco }}
    </a>
  </div>
</div>
