#page-content-wrapper
  width: calc(100% - 220px)
  min-height: 100vh
  transition: all 0.3s
  position: absolute
  top: 0
  right: 0

main
  padding-top: 1.5rem

@media (max-width: 768px)
  skooltrak-sidebar
    margin-left: -220px

  skooltrak-sidebar.active
    margin-left: 0

  #page-content-wrapper
    width: 100%

  #page-content-wrapper.active
    width: calc(100% - 220px)

  skooltrak-sidebarCollapse span
    display: none
