<div class="card">
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li [ngbNavItem]>
      <a ngbNavLink>{{ 'Grades report' | transloco }}</a>
      <ng-template ngbNavContent>
        <div class="container">
          <h3 class="card-title">{{ 'Grades report' | transloco }}</h3>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="plan">{{ 'Study plan' | transloco }}</label>
                <skooltrak-custom-select
                  id="plan"
                  [(ngModel)]="plan"
                  (ngModelChange)="changePlan()"
                  [multiple]="false"
                  [placeholder]="'Select plan' | transloco"
                  [items]="plans$ | async"
                  [displayValue]="'name'"
                ></skooltrak-custom-select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="group">{{ 'Group' | transloco }}</label>
                <skooltrak-custom-select
                  id="group"
                  [(ngModel)]="group"
                  (ngModelChange)="changeGroup()"
                  [multiple]="false"
                  [placeholder]="'Select group' | transloco"
                  [items]="groups$ | async"
                  [displayValue]="'name'"
                >
                </skooltrak-custom-select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="group">{{ 'Student' | transloco }}</label>
                <skooltrak-custom-select
                  id="student"
                  [(ngModel)]="student"
                  [multiple]="false"
                  [placeholder]="'Select student' | transloco"
                  [items]="students$ | async"
                  [displayValue]="'shortName'"
                >
                </skooltrak-custom-select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="group">{{ 'Period' | transloco }}</label>
                <skooltrak-custom-select
                  id="period"
                  [(ngModel)]="period"
                  [multiple]="false"
                  [placeholder]="'Select' | transloco"
                  [items]="periods$ | async"
                  [displayValue]="'name'"
                >
                </skooltrak-custom-select>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <button
            *ngIf="(student || group) && period"
            type="button"
            (click)="student ? printReport() : printGroup()"
            class="btn btn-primary"
          >
            Imprimir {{ student ? student.shortName : group.name }}
          </button>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]>
      <a ngbNavLink>{{ 'Credits' | transloco }}</a>
      <ng-template ngbNavContent>
        <skooltrak-credits></skooltrak-credits>
      </ng-template>
    </li>
    <li [ngbNavItem]>
      <a ngbNavLink>{{ 'Rankings' | transloco }}</a>
      <ng-template ngbNavContent>
        <skooltrak-rankings></skooltrak-rankings>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
