<form [formGroup]="paymentForm" (ngSubmit)="modal.close(paymentForm.value)">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'Make payment' | transloco }}</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="close"
      (click)="modal.dismiss('close button')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <label for="reference">{{ 'Reference' | transloco }}</label>
          <input
            type="text"
            class="form-control"
            id="reference"
            formControlName="referenceNumber"
            aria-describedby="helpId"
            placeholder="99999-99999"
          />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="amount">{{ 'Amount' | transloco }}</label>
          <div class="input-group">
            <span class="input-group-text">B/.</span>
            <input
              type="number"
              class="form-control"
              (blur)="getAmount()"
              name="amount"
              formControlName="amount"
              id="amount"
              placeholder=""
            />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="method">{{ 'Payment method' | transloco }}</label>
          <select
            class="form-control custom-select"
            formControlName="method"
            name="method"
            id="method"
          >
            <option [value]="''">{{ '-Select-' | transloco }}</option>
            <option *ngFor="let method of methods" [value]="method">
              {{ method }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="payment-date">{{ 'Payment date' | transloco }}</label>
          <skooltrak-custom-datepicker
            formControlName="paymentDate"
            name="payment-date"
            id="payment-date"
          ></skooltrak-custom-datepicker>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="description">{{ 'Description' | transloco }}</label>
          <input
            type="text"
            class="form-control"
            formControlName="description"
            name="description"
            id="description"
          />
        </div>
      </div>
      <div
        *ngIf="paymentForm.get('amount').value > 0"
        class="col-md-12 charges-container"
      >
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Cargo</th>
              <th scope="col">Total</th>
              <th scope="col">Balance</th>
              <th scope="col" style="width: 25%">Monto</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let charge of charges$ | async">
              <tr [hidden]="charge.balance === 0">
                <td>{{ charge.description }}</td>
                <td>{{ charge.amount | currency : 'PAB' }}</td>
                <td class="text-danger">
                  {{ charge.balance | currency : 'PAB' }}
                </td>
                <td>
                  <div class="input-group">
                    <span class="input-group-text">B/.</span>
                    <input
                      type="number"
                      class="form-control"
                      [max]="charge.balance"
                      (input)="validate(charge, $event)"
                      (blur)="setValue(charge, $event)"
                      aria-label="Amount (to the nearest dollar)"
                    />
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <div
        *ngIf="remaining > 0"
        class="d-flex justify-content-end align-items-center col-md-12 pt-2 px-4"
      >
        <span
          >Restante por aplicar:
          <h4 class="text-danger">{{ remaining | currency : 'PAB' }}</h4></span
        >
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      ngbAutofocus
      type="submit"
      [disabled]="!paymentForm.valid || remaining"
      class="btn btn-primary"
    >
      <i class="bi bi-save" aria-hidden="true"></i>
      {{ 'Save' | transloco }}
    </button>
  </div>
</form>
