<form [formGroup]="form" (ngSubmit)="saveIncident()">
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label for="title">{{ 'Description' | transloco }}</label>
        <input
          type="text"
          class="form-control"
          name="title"
          id="title"
          formControlName="title"
          placeholder="Título incidente"
        />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="incident-date">{{ 'Incident date' | transloco }}</label>
        <skooltrak-custom-datepicker
          id="incident-date"
          formControlName="incidentDate"
        ></skooltrak-custom-datepicker>
      </div>
    </div>
    <div class="col-md-7">
      <div class="form-group">
        <label for="">{{ 'Student' | transloco }}</label>
        <skooltrak-custom-select
          formControlName="student"
          [multiple]="false"
          [secondaryDisplay]="'group.name'"
          [placeholder]="'Select student' | transloco"
          [items]="students$ | async"
          [displayValue]="'fullName'"
        ></skooltrak-custom-select>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group">
        <label for="course">{{ 'Course' | transloco }}</label>
        <select
          class="custom-select form-control"
          formControlName="course"
          name="course"
          id="course"
        >
          <option [ngValue]="null" selected>
            --{{ 'Nothing' | transloco }}--
          </option>
          <option *ngFor="let course of courses$ | async" [ngValue]="course">
            {{ course.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-12">
      <label for="details">{{ 'Details' | transloco }}</label>
      <div [ngxSummernote]="config" formControlName="details"></div>
    </div>
  </div>
  <button type="submit" class="float-button btn btn-primary rounded-pill">
    <i class="bi bi-save fa-fw" aria-hidden="true"></i>
    {{ 'Save' | transloco }}
  </button>
</form>
