<form [formGroup]="form" (ngSubmit)="save()">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="title">{{ 'Title' | transloco }}</label>
        <input
          type="text"
          class="form-control"
          name="title"
          id="title"
          formControlName="title"
          placeholder="Título de la encuesta"
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="beginDate">{{ 'Start date' | transloco }}</label>
        <skooltrak-custom-datepicker
          formControlName="beginDate"
          name="beginDate"
          id="beginDate"
        ></skooltrak-custom-datepicker>
        <ngb-timepicker
          [meridian]="true"
          formControlName="beginHour"
        ></ngb-timepicker>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="endDate">{{ 'Due date' | transloco }}</label>
        <skooltrak-custom-datepicker
          formControlName="endDate"
          name="endDate"
          id="endDate"
        ></skooltrak-custom-datepicker>
        <ngb-timepicker
          [meridian]="true"
          formControlName="endHour"
        ></ngb-timepicker>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="description">{{ 'Description' | transloco }}</label>
    <div
      formControlName="description"
      name="description"
      id="description"
      [ngxSummernote]="config"
    ></div>
  </div>
  <div formArrayName="questions">
    <div
      class="card"
      *ngFor="let questions of form.get('questions')['controls']; let i = index"
    >
      <div class="card-body" [formGroupName]="i">
        <h5 class="card-title">
          <span>{{ 'Question' | transloco }} {{ i + 1 }}</span>
          <span
            class="bi bi-x-lg float-end pointer"
            *ngIf="form.get('questions')['controls'].length > 1"
            (click)="removeQuestion(i)"
          >
          </span>
        </h5>
        <skooltrak-question-form
          [group]="form.get('questions')['controls'][i]"
          [index]="i"
          (addOption)="addOption($event)"
          (removeOption)="removeOption(i, $event)"
        ></skooltrak-question-form>
      </div>
    </div>
  </div>
  <span (click)="addQuestion()" class="badge badge-primary badge-pill add-link">
    <i class="bi bi-plus-circle text-primary" aria-hidden="true"></i>
    {{ 'Add question' | transloco }}
  </span>
  <button
    [disabled]="!form.valid && form.dirty"
    type="submit"
    class="btn btn-primary rounded-pill float-button"
  >
    <i class="bi bi-save" aria-hidden="true"></i> {{ 'Save' | transloco }}
  </button>
</form>
