<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ 'New survey' | transloco }}</h4>
    <skooltrak-survey-form (saveSurvey)="createSurvey($event)"></skooltrak-survey-form>
  </div>
</div>
