.no-students
  height: 150px

.students-container
  max-height: 50vh
  overflow-y: scroll

.form-check-input
  height: 1.35rem
  width: 1.35rem
  &:checked
    border-color: var(--success-600)
    background-color: var(--success-600)
  &:focus
    box-shadow: 0 0 0 0.25rem var(--success-200)
    border-color: var(--success-300)
