<div class="card">
  <div class="card-body">
    <h3 class="card-title">{{ 'Incidents reports' | transloco }}</h3>
    <skooltrak-custom-table
      [options]="table"
      [items]="incidents$ | async"
    ></skooltrak-custom-table>
  </div>
</div>
