<ng-container *ngIf="grades$ | async; else loading; let grades">
  <div *ngIf="grades.length" class="d-flex justify-content-between my-2">
    <h4 class="semi-light-text">{{ 'Grades' | transloco }}</h4>
    <div>
      <button
        type="button"
        class="btn btn-secondary me-2"
        *ngIf="admin"
        (click)="openPeriod()"
      >
        <i class="bi bi-calendar3" aria-hidden="true"></i>
        Abrir periodo
      </button>
    </div>
  </div>
  <table *ngIf="grades.length" class="table table-hover">
    <thead>
      <tr>
        <th scope="col">{{ 'Name' | transloco }}</th>
        <th scope="col">{{ 'Type' | transloco }}</th>
        <th scope="col">{{ 'Date' | transloco }}</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let grade of grades">
        <td>{{ grade.title }}</td>
        <td>{{ grade.bucket.name | transloco }}</td>
        <td>{{ grade.date | date : 'longDate' }}</td>
        <td class="text-center">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            (click)="showModal(grade)"
          >
            <i class="bi bi-search" aria-hidden="true"></i>
            {{ 'Details' | transloco }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div
    class="d-flex flex-column align-items-center justify-content-center p-2"
    *ngIf="!grades.length"
  >
    <img src="assets/img/no-grades.svg" alt="No grades" class="no-grades" />
    <p class="medium-text mt-2">
      {{ 'No grades yet for this period' | transloco }}
    </p>
    <button type="button" class="btn btn-primary mt-2">
      {{ 'Add grade' | transloco }}
    </button>
  </div>
</ng-container>
<ng-template #loading>
  <skooltrak-loading-modal></skooltrak-loading-modal>
</ng-template>
