<div class="card">
  <div class="card-body">
    <h4 class="card-title">Editar examen</h4>
    <skooltrak-exams-form
      *ngIf="exam"
      [exam]="exam"
      (saveExam)="saveExam($event)"
      [isOwner]="isOwner"
    ></skooltrak-exams-form>
    <skooltrak-loading-modal *ngIf="!exam"></skooltrak-loading-modal>
  </div>
</div>
