<div class="card">
  <div class="card-body">
    <skooltrak-students-form
      *ngIf="student"
      (save)="updateStudent($event)"
      [student]="student"
    ></skooltrak-students-form>
  </div>
</div>

