<form [formGroup]="chargeForm" (ngSubmit)="modal.close(chargeForm.value)">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'Create charge' | transloco }}</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="close"
      (click)="modal.dismiss('close button')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <label for="description">{{ 'Description' | transloco }}</label>
          <input
            type="text"
            class="form-control"
            name="description"
            formControlName="description"
            id="description"
            placeholder="Descripción cargo"
          />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="amount">{{ 'Amount' | transloco }}</label>
          <input
            type="number"
            class="form-control"
            name="amount"
            formControlName="amount"
            id="amount"
            placeholder="0.00"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="start-date">{{ 'Start date' | transloco }}</label>
          <skooltrak-custom-datepicker
            formControlName="startDate"
            name="start-date"
            id="start-date"
            [minDate]="minDate"
            [maxDate]="maxDate"
          ></skooltrak-custom-datepicker>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="due-date">{{ 'Due date' | transloco }}</label>
          <skooltrak-custom-datepicker
            formControlName="dueDate"
            name="due-date"
            id="due-date"
          ></skooltrak-custom-datepicker>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      ngbAutofocus
      type="submit"
      [disabled]="!chargeForm.valid"
      class="btn btn-primary"
    >
      <i class="bi bi-save" aria-hidden="true"></i>
      {{ 'Save' | transloco }}
    </button>
  </div>
</form>
