<div class="card">
  <div class="card-body">
    <ng-container *ngIf="exam$ | async as exam">
      <h4 class="card-title">{{ exam.course.name }}</h4>
      <div
        *ngFor="let question of exam.questions; let i = index"
        class="card shadow-medium"
      >
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title">Pregunta {{ i + 1 }}</h5>
            <span class="bold-text">Valor: {{ question.points }}</span>
          </div>
          <h6 class="clear-text">
            Tipo de pregunta: {{ question.type.name | transloco }}
          </h6>
          <div [ngxSummernoteView]="question.questionText" class="mb-4"></div>
          <div *ngIf="question.type.code === 0" class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label class="black-text" for="true-false-{{ i }}"
                  >Respuesta</label
                >
                <select
                  class="form-control custom-select"
                  (change)="changeValue(i, question, $event.target.value)"
                  name="true-false-{{ i }}"
                  id="true-false-{{ i }}"
                >
                  <option selected>--</option>
                  <option [value]="true">Cierto</option>
                  <option [value]="false">Falso</option>
                </select>
              </div>
            </div>
          </div>
          <ng-container *ngIf="question.type.code === 1">
            <div
              class="option d-flex align-items-center mb-2 pointer"
              *ngFor="let option of question.options"
              (click)="changeValue(i, question, option)"
            >
              <i
                class="fa-2x me-2"
                [ngClass]="{
                  'fas fa-check-circle text-success': isSelected(i, option),
                  'far fa-circle text-primary': !isSelected(i, option)
                }"
                aria-hidden="true"
              ></i>
              <div [ngxSummernoteView]="option.optionText"></div>
            </div>
          </ng-container>
          <div *ngIf="question.type.code === 2" class="form-group">
            <label class="black-text" for="answer-{{ i }}">Respuesta</label>
            <input
              type="text"
              class="form-control"
              name="answer-{{ i }}"
              id="answer-{{ i }}"
              (blur)="changeValue(i, question, $event.target.value)"
            />
          </div>
          <div *ngIf="question.type.code === 3" class="form-group">
            <label class="black-text" for="answer-{{ i }}">Respuesta</label>
            <div
              [ngxSummernote]="config"
              [(ngModel)]="question[i]"
              (ngModelChange)="changeValue(i, question, $event)"
              [ngModelOptions]="{ updateOn: 'blur' }"
              id="answer-{{ i }}"
            ></div>
          </div>
          <div class="row" *ngIf="question.type.code === 4">
            <div class="col-md-3">
              <div class="form-group">
                <label class="black-text" for="answer-{{ i }}">Respuesta</label>
                <input
                  type="number"
                  class="form-control"
                  name="answer-{{ i }}"
                  id="answer-{{ i }}"
                  (blur)="changeValue(i, question, $event.target.value)"
                  aria-describedby="helpId"
                  placeholder=""
                />
              </div>
            </div>
          </div>
          <ng-container *ngIf="question.type.code === 5">
            <skooltrak-match-form
              [question]="question"
              (setOption)="changeValue(i, question, $event)"
            ></skooltrak-match-form>
          </ng-container>
        </div>
      </div>
      <div *ngIf="result.minutes" class="float-timer">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Tiempo restante</h4>
            <span class="medium-text">{{ formatTimeLeft() }}</span>
          </div>
        </div>
      </div>
      <button
        type="button"
        (click)="complete()"
        class="btn btn-success float-button rounded-pill"
      >
        <i class="far fa-paper-plane fa-fw" aria-hidden="true"></i>
        Enviar examen
      </button>
    </ng-container>
    <ng-template #loading>
      <skooltrak-loading-modal></skooltrak-loading-modal>
    </ng-template>
  </div>
</div>
