<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ 'Teachers' | transloco }}</h4>
    <skooltrak-custom-table
      [options]="table"
      [items]="teachers$ | async"
      (addItem)="createTeacher($event)"
      (editItem)="editTeacher($event)"
      (removeItem)="deleteTeacher($event)"
    ></skooltrak-custom-table>
  </div>
</div>
