<div class="card">
  <div class="card-body">
    <h3 class="card-title">{{ 'Documents' | transloco }}</h3>
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li [ngbNavItem]>
        <a ngbNavLink>{{ 'My documents' | transloco }}</a>
        <ng-template ngbNavContent>
          <skooltrak-my-documents></skooltrak-my-documents>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>
