.example-container
  width: 400px
  max-width: 100%
  margin: 0 25px 25px 0
  display: inline-block
  vertical-align: top

.example-list
  border: solid 1px #ccc
  min-height: 60px
  background: white
  border-radius: 4px
  overflow: hidden
  display: block

.example-box
  padding: 20px 10px
  border-bottom: solid 1px #ccc
  color: rgba(0, 0, 0, 0.87)
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  box-sizing: border-box
  cursor: move
  background: white
  font-size: 14px

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder)
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)

.cdk-drag-animating
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)
