<div class="modal-header">
  <h5 class="modal-title">{{ 'Select student' | transloco }}</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="close"
    (click)="activeModal.dismiss('close button')"
  ></button>
</div>
<div class="modal-body">
  <skooltrak-custom-table
    [items]="students$ | async"
    [options]="table"
    (updateSelection)="setStudent($event)"
  ></skooltrak-custom-table>
</div>
<div class="modal-footer">
  <button
    ngbAutofocus
    type="button"
    [disabled]="!selected"
    class="btn btn-primary"
    (click)="activeModal.close(selected)"
  >
    <i class="far fa-save fa-fw" aria-hidden="true"></i>
    {{ 'Save' | transloco }}
  </button>
</div>
