<div class="row d-flex justify-content-center align-items-center">
  <div class="col-md-5">
    <div class="card">
      <form [formGroup]="profileForm" class="card-body">
        <h3 class="card-title text-center">
          {{ 'My profile' | transloco }}
        </h3>
        <div class="row">
          <div class="col-sm">
            <img class="avatar-container" [src]="session.getAvatar()" alt="" />
          </div>
          <div
            class="col-sm d-flex flex-column justify-content-center align-items-center"
          >
            <button
              (click)="changeAvatar($event)"
              type="file"
              class="btn btn-primary"
            >
              {{ 'Change avatar' | transloco }}
            </button>
          </div>
        </div>
        <input
          class="invisible"
          (change)="setAvatar($event)"
          accept="image/png, image/jpeg"
          type="file"
          name="avatar"
          id="avatar"
        />
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
          <li [ngbNavItem]>
            <a ngbNavLink>
              Información personal
            </a>
            <ng-template ngbNavContent>
              <div class="form-group">
                <label for="display-name">{{
                  'Display name' | transloco
                }}</label>
                <input
                  type="text"
                  class="form-control form-control-lg"
                  name="display-name"
                  id="display-name"
                  formControlName="displayName"
                />
              </div>
              <div class="form-group">
                <label for="user-name">{{ 'User name' | transloco }}</label>
                <input
                  type="text"
                  class="form-control form-control-lg"
                  name="user-name"
                  id="user-name"
                  [disabled]="true"
                  formControlName="userName"
                  [placeholder]="'Input user name' | transloco"
                />
              </div>
              <div class="form-group">
                <label for="email">{{ 'Email' | transloco }}</label>
                <input
                  type="email"
                  class="form-control form-control-lg"
                  name="email"
                  id="email"
                  formControlName="email"
                />
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]>
            <a ngbNavLink>
              Correos de notificación
            </a>
            <ng-template ngbNavContent>
              <div formArrayName="notificationMails">
                <div
                  *ngFor="
                    let email of emails.controls;
                    let i = index
                  "
                  class="row mb-2"
                >
                  <div class="col-md-10">
                    <input
                      type="email"
                      class="form-control"
                      [formControlName]="i"
                      name="email-{{ i }}"
                      id="email-{{ i }}"
                    />
                  </div>
                  <div class="col-md-2">
                    <button
                      (click)="removeEmail(i)"
                      type="button"
                      name="delete-{{ i }}"
                      id="delete-{{ i }}"
                      class="btn btn-danger btn-block"
                    >
                      <i class="fas fa-trash-alt fa-fw" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
              <span
                (click)="addEmail()"
                class="text-primary pointer link float-end"
              >
                <i class="fas fa-plus fa-fw me-2" aria-hidden="true"></i>
                {{ 'Add email' | transloco }}
              </span>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </form>
      <div class="card-footer">
        <button
          type="button"
          (click)="updateProfile()"
          [disabled]="!profileForm.valid || profileForm.pristine"
          class="btn btn-primary"
        >
          {{ 'Save changes' | transloco }}
        </button>
      </div>
    </div>
  </div>
</div>
