<div class="card">
  <div class="card-body">
    <h3 class="card-title">{{ 'New student' | transloco }}</h3>
    <skooltrak-students-form (save)="createStudent($event)"></skooltrak-students-form>
  </div>
</div>


