<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h4 class="card-title">{{ 'Announcements' | transloco }}</h4>
      <skooltrak-custom-table
        [options]="table"
        [items]="announcements$ | async"
      ></skooltrak-custom-table>
    </div>
  </div>
</div>
