<div class="card">
  <div class="card-body">
    <h4 class="card-title">
      {{ forum?.name }}
      <small>
        <span class="badge badge-pill badge-primary">{{
          forum?.course.subject.name
        }}</span>
      </small>
    </h4>
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="far fa-comment-dots" aria-hidden="true"></i>
          {{ 'Chat' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <ng-template #loading>
            <skooltrak-loading-modal></skooltrak-loading-modal>
          </ng-template>
          <skooltrak-chat
            *ngIf="forum; else loading"
            [forum]="forum"
          ></skooltrak-chat>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="far fa-file-pdf" aria-hidden="true"></i>
          {{ 'Files' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <ng-template #loading>
            <skooltrak-loading-modal></skooltrak-loading-modal>
          </ng-template>
          <skooltrak-documents
            *ngIf="forum; else loading"
            [forum]="forum"
          ></skooltrak-documents>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>
