<div class="card">
  <div
    class="card-header d-flex align-items-center"
    [style.background]="course.color"
    [style.color]="'white'"
  >
    <img
      src="assets/icons/course-{{ course.icon }}.svg"
      [alt]="course.name"
      class="logo me-3"
    />
    <div>
      <h4 class="white-text">
        {{ course.subject.name }} <small>{{ course.plan.name }}</small>
      </h4>
      <h5>
        {{ 'Current period' | transloco }}: {{ course.currentPeriod?.name }}
      </h5>
    </div>
  </div>
  <div class="card-body">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="bi bi-journal-text" aria-hidden="true"></i>
          {{ 'Contents' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <skooltrak-content [course]="course"></skooltrak-content>
        </ng-template>
      </li>
      <li [ngbNavItem] *ngIf="!course.plan.preschool">
        <a ngbNavLink>
          <i class="bi bi-check-circle" aria-hidden="true"></i>
          {{ 'Grades' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <skooltrak-course-grades [course]="course"></skooltrak-course-grades>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="bi bi-camera-video" aria-hidden="true"></i>
          {{ 'Meeting' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <skooltrak-meeting [course]="course"></skooltrak-meeting>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="bi bi-calendar3" aria-hidden="true"></i>
          {{ 'Schedule' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <skooltrak-course-schedule
            [course]="course"
          ></skooltrak-course-schedule>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="bi bi-megaphone" aria-hidden="true"></i>
          {{ 'Announcements' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <skooltrak-courses-messages
            [course]="course"
          ></skooltrak-courses-messages>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="bi bi-chat-quote" aria-hidden="true"></i>
          {{ 'Forums' | transloco }}
        </a>
        <ng-template ngbNavContent
          ><skooltrak-forums [course]="course"></skooltrak-forums>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="bi bi-clock-history" aria-hidden="true"></i>
          {{ 'Attendance' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <skooltrak-attendance [course]="course"></skooltrak-attendance>
        </ng-template>
      </li>
      <li [ngbNavItem] *ngIf="!course.plan.preschool">
        <a ngbNavLink>
          <i class="bi bi-percent" aria-hidden="true"></i>
          {{ 'Percentage' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <h4 class="card-title">{{ 'Grades distribution' | transloco }}</h4>
          <div class="row d-flex justify-content-center">
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <div
                    *ngFor="let bucket of course.buckets; let i = index"
                    class="form-group row"
                  >
                    <label
                      class="col-md-8 col-form-label"
                      for="bucket-{{ i }}"
                      >{{ bucket.name | transloco }}</label
                    >
                    <div class="col-md-4">
                      <input
                        type="number"
                        name="bucket-{{ i }}"
                        id="bucket-{{ i }}"
                        [(ngModel)]="bucket.weighting"
                        class="form-control"
                        placeholder=""
                        aria-describedby="helpId"
                      />
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <button
                    type="button"
                    (click)="updateCourse(course)"
                    class="btn btn-primary"
                  >
                    {{ 'Save changes' | transloco }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="bi bi-people" aria-hidden="true"></i>
          {{ 'Students' | transloco }}
        </a>
        <ng-template ngbNavContent
          ><skooltrak-students [course]="course"></skooltrak-students>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>
</div>
<ng-template #loading>
  <skooltrak-loading-modal></skooltrak-loading-modal>
</ng-template>
