<div *ngIf="courses$ | async as courses; else loadingOrError">
  <div @fade class="row">
    <div
      *ngFor="let course of courses"
      class="course-card col-xl-3 col-lg-4 col-sm-6"
    >
      <div class="card shadow-medium pointer">
        <div
          class="img-container py-3 px-5"
          (click)="goToCourse(course)"
          [style.background]="coursesService.getColor(course)"
        >
          <img
            [src]="coursesService.getIcon(course)"
            [alt]="course.name"
            class="card-img-top"
          />
        </div>
        <div class="card-body" (click)="goToCourse(course)">
          <h5 class="card-title mb-0">{{ course.subject.name }}</h5>
          <div class="row">
            <div class="col-8 d-flex flex-column justify-content-center">
              <p class="card-subtitle clear-text">
                {{ course.currentPeriod?.name }}
              </p>
              <div>
                <span
                  *ngFor="let teacher of course.teachers"
                  class="badge badge-purple badge-pill"
                  >{{ teacher.name }}</span
                >
              </div>
            </div>
            <div class="col-4 d-flex align-items-center justify-content-center">
              <h1
                [ngClass]="{
                  'success-text': course.currentScore >= 4,
                  'warning-text':
                    course.currentScore >= 3 && course.currentScore < 4,
                  'danger-text': course.currentScore < 3
                }"
                class="mb-0 mt-2"
              >
                {{
                  course.currentScore
                    ? (course.currentScore | number : '1.1-1')
                    : 'S/N'
                }}
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loadingOrError>
  <ng-container *ngIf="errorObject; else loading">
    <div class="col-12 text-center">
      <div class="alert alert-danger">
        {{ errorObject.message }}
      </div>
    </div>
  </ng-container>
  <ng-template #loading>
    <skooltrak-loading-modal></skooltrak-loading-modal>
  </ng-template>
</ng-template>
