<div class="card">
  <div class="card-body">
    <ng-container *ngIf="group$ | async as group; else loading">
      <h4 class="card-title">
        {{ group.name }}
        <small>{{ group.studyPlan.name }}</small>
      </h4>
      <div class="row">
        <div class="col-md-4">
          <p class="label">{{ 'Counselor' | transloco }}</p>
          <p class="element">{{ group.counselor?.name }}</p>
        </div>
      </div>
      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li [ngbNavItem]>
          <a ngbNavLink>
            <i class="fas fa-users" aria-hidden="true"></i>
            {{ 'Students' | transloco }}
          </a>
          <ng-template ngbNavContent>
            <skooltrak-students [groupId]="group.id"></skooltrak-students>
          </ng-template>
        </li>
        <li [ngbNavItem]>
          <a ngbNavLink>
            <i class="fas fa-calendar-alt fa-fw" aria-hidden="true"></i>
            {{ 'Timetable' | transloco }}
          </a>
          <ng-template ngbNavContent>
            <skooltrak-schedule
              [group]="group"
              [courses$]="courses$"
            ></skooltrak-schedule>
          </ng-template>
        </li>
        <li [ngbNavItem]>
          <a ngbNavLink>
            <i class="fas fa-history fa-fw" aria-hidden="true"></i>
            {{ 'Attendance' | transloco }}
          </a>
          <ng-template ngbNavContent>
            <skooltrak-attendance [group]="group"></skooltrak-attendance>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </ng-container>
    <ng-template #loading
      ><skooltrak-loading-modal></skooltrak-loading-modal>
    </ng-template>
  </div>
</div>
