<div cdkDropListGroup class="row">
  <div class="col-md-8">
    <table class="table table-bordered">
      <thead>
        <tr class="bg-primary">
          <th scope="col" style="width: 50%" class="text-white">
            {{ 'Option' | transloco }}
          </th>
          <th scope="col" class="text-white">{{ 'Answer' | transloco }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let option of question.matchList; let i = index">
          <td><div [ngxSummernoteView]="option.optionText"></div></td>
          <td>
            <div
              cdkDropList
              [cdkDropListData]="option.selectedMatch"
              id="question-{{ i }}"
              (cdkDropListDropped)="dropped($event)"
              class="example-list p-3"
            >
              <div
                class="card shadow-low"
                *ngFor="let item of option.selectedMatch"
                cdkDrag
              >
                <div class="card-body">
                  <div [ngxSummernoteView]="item"></div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="options" class="col-md-4">
    <h5>{{ 'Available' | transloco }}</h5>
    <div
      cdkDropList
      #optionsList="cdkDropList"
      [cdkDropListData]="options"
      class="example-list shadow-medium"
    >
      <div class="card shadow-low" *ngFor="let item of options" cdkDrag>
        <div class="card-body">
          <div [ngxSummernoteView]="item"></div>
        </div>
      </div>
    </div>
  </div>
</div>
