<ul ngbNav #nav="ngbNav" class="nav-pills" [(activeId)]="active">
  <ng-container *ngFor="let period of periods$ | async">
    <li [ngbNavItem]="period.sort">
      <a ngbNavLink>
        <i
          class="bi bi-lock fa-fw"
          aria-hidden="true"
          *ngIf="period.sort !== course.currentPeriod.sort"
        ></i>
        <i
          class="bi bi-check-circle-fill"
          aria-hidden="true"
          *ngIf="period.sort === course.currentPeriod.sort"
        ></i>
        {{ period.name }}
      </a>
      <ng-template ngbNavContent>
        <ng-container *ngIf="period.id === course.currentPeriod.id">
          <ng-container *ngIf="grades$ | async; else loading; let grades">
            <div
              *ngIf="grades.length"
              class="d-flex justify-content-between my-2"
            >
              <h4 class="semi-light-text">{{ 'Grades' | transloco }}</h4>
              <div>
                <button
                  type="button"
                  class="btn btn-secondary me-2"
                  (click)="closePeriod(course)"
                >
                  <i class="bi bi-calendar3" aria-hidden="true"></i>
                  Cerrar trimestre
                </button>
                <button
                  type="button"
                  (click)="showModal()"
                  class="btn btn-primary"
                >
                  <i class="bi bi-plus-circle" aria-hidden="true"></i>
                  {{ 'Add grade' | transloco }}
                </button>
              </div>
            </div>
            <table *ngIf="grades.length" class="table">
              <thead>
                <tr>
                  <th scope="col">Titulo</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Status</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let grade of grades">
                  <td>{{ grade.title }}</td>
                  <td>{{ grade.bucket.name | transloco }}</td>
                  <td>{{ grade.date | date : 'longDate' }}</td>
                  <td>
                    <span
                      *ngIf="grade.published"
                      class="badge badge-pill badge-success"
                    >
                      <i class="bi bi-check-circle-fill" aria-hidden="true"></i>
                      {{ 'Published' | transloco }}</span
                    >
                    <span
                      *ngIf="!grade.published"
                      class="badge badge-pill badge-false"
                    >
                      <i class="bi bi-circle" aria-hidden="true"></i>
                      No publicado</span
                    >
                  </td>
                  <td class="text-center">
                    <button
                      type="button"
                      (click)="editGrade(grade)"
                      class="btn btn-primary btn-sm me-2"
                    >
                      <i class="bi bi-pencil-square" aria-hidden="true"></i>
                      {{ 'Edit' | transloco }}
                    </button>
                    <button
                      type="button"
                      class="btn btn-sm btn-danger"
                      (click)="deleteGrade(grade)"
                    >
                      <i class="bi bi-trash" aria-hidden="true"></i>
                      {{ 'Delete' | transloco }}
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div
              class="d-flex flex-column align-items-center justify-content-center p-2"
              *ngIf="!grades.length"
            >
              <img
                src="assets/img/no-grades.svg"
                alt="No grades"
                class="no-grades"
              />
              <p class="medium-text mt-2">
                {{ 'No grades yet for this period' | transloco }}
              </p>
              <button
                type="button"
                (click)="showModal()"
                class="btn btn-primary mt-2"
              >
                {{ 'Add grade' | transloco }}
              </button>
            </div>
          </ng-container>
          <ng-template #loading>
            <skooltrak-loading-modal></skooltrak-loading-modal>
          </ng-template>
        </ng-container>
        <ng-container *ngIf="period.id !== course.currentPeriod.id">
          <skooltrak-closed-grades
            [course]="course"
            [period]="period"
            [admin]="admin"
          ></skooltrak-closed-grades>
        </ng-container>
      </ng-template>
    </li>
  </ng-container>
</ul>
<div [ngbNavOutlet]="nav"></div>
