<ng-container *ngIf="courses$ | async as courses; else loading">
  <ng-container>
    <h5 *ngIf="score$ | async; let score">
      Promedio del periodo:
      <span
        [ngClass]="{
          'success-text': score >= 4,
          'warning-text': score >= 3 && score < 4,
          'danger-text': score < 3
        }"
        >{{ score | number : '1.2-2' }}</span
      >
    </h5>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="width: 70%">{{ 'Subject' | transloco }}</th>
          <th scope="col" style="width: 15%" class="text-center">
            {{ 'Score' | transloco }}
          </th>
          <th scope="col" style="width: 15%"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container
          *ngFor="let parent of parentCourses$ | async; let i = index"
        >
          <tr>
            <td class="bold-text">
              {{ parent.name }}
            </td>
            <td class="text-center">
              <span
                class="font-weight-bold"
                [ngClass]="{
                  'success-text': parent.score >= 4,
                  'warning-text': parent.score >= 3 && parent.score < 4,
                  'danger-text': parent.score < 3
                }"
              >
                {{ parent.score ? (parent.score | number : '1.1-1') : 'S/N' }}
              </span>
            </td>
            <td class="text-center">
              <button
                type="button"
                class="btn btn-primary btn-sm"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#collapse-parent-' + i"
                [attr.aria-expanded]="false"
                [attr.aria-control]="'collapse-parent-' + i"
              >
                <i class="bi bi-search" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          <ng-container *ngFor="let course of parent.courses; let j = index">
            <tr class="collapse" [attr.id]="'collapse-parent-' + i">
              <td>
                <span class="ms-3">{{ course.subject.name }}</span>
                <span
                  *ngFor="let teacher of course.teachers"
                  class="badge badge-primary rounded-pill ms-2 me-1"
                  ><i class="bi bi-person-badge" aria-hidden="true"></i>
                  {{ teacher.name }}</span
                >
              </td>
              <td class="text-center">
                <span
                  class="font-weight-bold"
                  [ngClass]="{
                    'success-text': course.currentScore >= 4,
                    'warning-text':
                      course.currentScore >= 3 && course.currentScore < 4,
                    'danger-text': course.currentScore < 3
                  }"
                >
                  {{
                    course.currentScore
                      ? (course.currentScore | number : '1.1-1')
                      : 'S/N'
                  }}
                </span>
              </td>
              <td class="text-center">
                <button
                  type="button"
                  class="btn btn-primary btn-sm"
                  data-bs-toggle="collapse"
                  [attr.data-bs-target]="'#collapse-children-' + i + '-' + j"
                  [attr.aria-expanded]="false"
                  [attr.aria-control]="'collapse-children-' + i + '-' + j"
                >
                  <i class="bi bi-search" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
            <tr
              class="collapse"
              [attr.id]="'collapse-children-' + i + '-' + j"
              gradeDetails
              [courseId]="course.id"
              [studentId]="session.currentStudent.id"
              [period]="period"
            ></tr>
          </ng-container>
        </ng-container>
        <ng-container *ngFor="let course of courses; let i = index">
          <tr *ngIf="!course.parentSubject">
            <td>
              {{ course.subject.name }}
              <span
                *ngFor="let teacher of course.teachers"
                class="badge badge-primary rounded-pill me-1"
                ><i class="bi bi-person-badge" aria-hidden="true"></i>
                {{ teacher.name }}</span
              >
            </td>
            <td class="text-center">
              <span
                class="font-weight-bold"
                [ngClass]="{
                  'success-text': course.currentScore >= 4,
                  'warning-text':
                    course.currentScore >= 3 && course.currentScore < 4,
                  'danger-text': course.currentScore < 3
                }"
              >
                {{
                  course.currentScore
                    ? (course.currentScore | number : '1.1-1')
                    : 'S/N'
                }}
              </span>
            </td>
            <td class="text-center">
              <button
                type="button"
                class="btn btn-primary btn-sm"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#collapse-' + i"
                [attr.aria-expanded]="false"
                [attr.aria-control]="'collapse-' + 1"
              >
                <i class="bi bi-search" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          <tr
            class="collapse"
            [attr.id]="'collapse-' + i"
            gradeDetails
            [courseId]="course.id"
            [studentId]="session.currentStudent.id"
            [period]="period"
          ></tr>
        </ng-container>
      </tbody>
    </table>
  </ng-container>
</ng-container>
<ng-template #loading
  ><skooltrak-loading-modal></skooltrak-loading-modal
></ng-template>
