<form [formGroup]="examForm" (ngSubmit)="save()">
  <div class="row main-data">
    <div class="col-md-6 form-label-group">
      <input
        type="text"
        class="form-control"
        name="title"
        id="title"
        placeholder=" "
        formControlName="title"
      />
      <label for="title">{{ 'Title' | transloco }}</label>
    </div>
    <div class="col-md-6 form-label-group">
      <select
        class="custom-select form-control"
        name="course"
        id="course"
        formControlName="course"
        [compareWith]="compareFn"
      >
        <option selected>{{ '-Select-' | transloco }}</option>
        <option *ngFor="let course of courses$ | async" [ngValue]="course">
          {{ course.name }}
        </option>
      </select>
      <label for="course">{{ 'Course' | transloco }}</label>
    </div>
    <div class="col-md-10">
      <h6>Clave de calificación</h6>
      <button
        type="button"
        class="btn btn-sm btn-primary mb-2"
        (click)="setFile($event)"
      >
        <i class="fas fa-paperclip" aria-hidden="true"></i>
        {{ 'Attach file' | transloco }}
      </button>
      <input
        class="invisible"
        (change)="addAttachment($event)"
        type="file"
        multiple
        name="avatar"
        id="attach-file"
      />
      <table *ngIf="attacheds.length" class="table table-borderless table-sm">
        <tbody>
          <tr *ngFor="let file of attacheds; let i = index">
            <td>
              <a
                [href]="filesService.getFile(file.id)"
                [download]="true"
                [target]="'blank'"
                >{{ file.fileName }}</a
              >
            </td>
            <td>{{ file?.size / 1024 / 1024 | number : '.2' }} MB</td>
            <td>
              <ngb-progressbar
                [type]="'success'"
                [value]="100"
                [striped]="true"
                >{{ 'Ready' | transloco }}</ngb-progressbar
              >
            </td>
            <td class="text-center">
              <span
                (click)="removeAttachment(i)"
                [ngbTooltip]="'Remove' | transloco"
              >
                <i
                  class="fas fa-times fa-fw text-danger"
                  aria-hidden="true"
                ></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li [ngbNavItem] [destroyOnHide]="false">
      <a ngbNavLink>
        {{ 'Questions' | transloco }}
      </a>
      <ng-template ngbNavContent>
        <div formArrayName="questions">
          <div
            class="card shadow-low"
            *ngFor="
              let question of examForm.get('questions')['controls'];
              let i = index
            "
          >
            <div class="card-body" [formGroupName]="i">
              <h5 class="card-title">
                <span>{{ 'Question' | transloco }} {{ i + 1 }}</span>
                <span
                  class="fas fa-times float-end"
                  *ngIf="examForm.get('questions')['controls'].length > 1"
                  (click)="removeQuestion(i)"
                >
                </span>
              </h5>
              <skooltrak-question-form
                [group]="question"
                [index]="i"
                (addOption)="addOption($event)"
                (removeOption)="removeOption(i, $event)"
                (addMatch)="addMatchItem($event)"
                (removeMatch)="removeMatchItem(i, $event)"
                (resetMatch)="resetMatchSelection($event)"
              ></skooltrak-question-form>
            </div>
          </div>
        </div>
        <span
          (click)="addQuestion()"
          class="btn btn-primary rounded-pill add-link"
        >
          <i class="fas fa-plus-circle fa-fw" aria-hidden="true"></i>
          {{ 'Add question' | transloco }}
        </span>
        <div class="float-button">
          <button
            *ngIf="exam?.id"
            type="button"
            class="btn btn-success rounded-pill"
            (click)="assignExam()"
          >
            <i class="fas fa-calendar-alt fa-fw" aria-hidden="true"></i>
            Asignar examen
          </button>
          <button
            class="btn btn-primary rounded-pill"
            type="submit"
            [disabled]="!examForm.valid || !examForm.dirty || saving"
          >
            <i class="far fa-save fa-fw" aria-hidden="true"></i>
            {{ 'Save quiz' | transloco }}
          </button>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]>
      <a ngbNavLink>
        {{ 'Preview' | transloco }}
      </a>
      <ng-template ngbNavContent>
        <skooltrak-preview [exam]="examForm.value"></skooltrak-preview>
      </ng-template>
    </li>
    <li *ngIf="exam?.id" [ngbNavItem]>
      <a ngbNavLink> Asignaciones </a>
      <ng-template ngbNavContent>
        <skooltrak-exam-assignations
          [exam]="exam"
        ></skooltrak-exam-assignations>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="pt-2"></div>
</form>
