<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ 'Groups' | transloco }}</h4>
    <skooltrak-custom-table
      [options]="table"
      [items]="groups$ | async"
      (editItem)="editGroup($event)"
    ></skooltrak-custom-table>
  </div>
</div>
