<div class="card">
  <div class="card-body">
    <h4 class="card-title">
      {{ 'Assignment types' | transloco }}
    </h4>
    <skooltrak-custom-table
      [options]="table"
      [items]="types$ | async"
      (addItem)="createType($event)"
      (editItem)="editType($event)"
      (removeItem)="deleteType($event)"
    ></skooltrak-custom-table>
  </div>
</div>
