<h4>{{ 'Course videos' | transloco }}</h4>
<div *ngIf="videos$ | async as videos; else loading">
  <div
    *ngIf="!videos.length"
    class="d-flex flex-column align-items-center justify-content-center"
  >
    <img class="no-docs" src="assets/img/no-videos.svg" alt="No videos" />
    <p class="text-center mt-2 medium-text">
      {{ 'No videos yet' | transloco }}
    </p>
  </div>
  <div @fade class="row" *ngIf="videos.length">
    <div *ngFor="let video of videos" class="col-md-4">
      <div class="card video-card">
        <div class="card-body" (click)="openVideo(video)">
          <div class="text-center">
            <i
              class="bi bi-camera-video-fill mega-text mt-2 text-danger"
              aria-hidden="true"
            ></i>
            <div class="medium-text mb-2">{{ video.title }}</div>
          </div>
          <div class="bold-text">
            <span [innerHTML]="video.uploadedBy.photoURL | avatar"></span>
            {{ video.uploadedBy.displayName }}
          </div>
          <div class="clear-text small-text">
            {{ video.createdDate | timeAgo }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <skooltrak-loading-modal></skooltrak-loading-modal>
</ng-template>
