<div class="card">
  <div class="card-body">
    <h3 class="card-title">{{ 'My courses' | transloco }}</h3>
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="bi bi-laptop"></i> {{ 'Courses' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <div class="px-3">
            <skooltrak-list></skooltrak-list>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink><i class="bi bi-window-dock"></i> Salones virtuales</a>
        <ng-template ngbNavContent>
          <skooltrak-classrooms></skooltrak-classrooms>
        </ng-template>
      </li>
    </ul>
    <div class="mt-2" [ngbNavOutlet]="nav"></div>
  </div>
</div>
