<div class="row">
  <div class="col-md-9">
    <div class="card">
      <div class="card-body">
        <ul ngbNav #nav="ngbNav" class="nav-pills">
          <li [ngbNavItem] [destroyOnHide]="false">
            <a ngbNavLink>
              {{ 'Schedule' | transloco }}
            </a>
            <ng-template ngbNavContent>
              <skooltrak-schedule></skooltrak-schedule>
            </ng-template>
          </li>
          <li [ngbNavItem] [destroyOnHide]="false">
            <a ngbNavLink>{{ 'Timetable' | transloco }}</a>
            <ng-template ngbNavContent>
              <skooltrak-time-table></skooltrak-time-table>
            </ng-template>
          </li>
          <li [ngbNavItem]>
            <a ngbNavLink>{{ 'Performance' | transloco }}</a>
            <ng-template ngbNavContent>
              <skooltrak-performance></skooltrak-performance>
            </ng-template>
          </li>
        </ul>
        <div class="mt-2" [ngbNavOutlet]="nav"></div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <ng-container *ngIf="currentSurveys$ | async as surveys">
      <div class="card shadow-medium" *ngIf="surveys.length > 0">
        <div class="card-body">
          <h4 class="card-title">{{ 'Surveys' | transloco }}</h4>
          <div
            *ngFor="let quiz of surveys"
            (click)="answerSurvey(quiz.id)"
            class="card shadow-medium"
          >
            <div class="card-body">
              <h6 class="card-title">
                {{ quiz.title }}
              </h6>
              <i class="bi fa-alarm text-danger" aria-hidden="true"></i>
              {{ 'Due time' | transloco }} {{ formatDue(quiz.endDate) }}
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="exams$ | async as exams">
      <div *ngIf="exams.length > 0" class="card">
        <div class="card-body">
          <h4 class="card-title">{{ 'Quizes' | transloco }}</h4>
          <div
            *ngFor="let exam of exams"
            [routerLink]="['/student/exams', exam.id]"
            class="card quiz-card"
          >
            <div class="card-body">
              <h6 class="card-title">
                <span class="clear-text">{{ exam.course.subject.name }}</span> -
                {{ exam.exam.name }}
              </h6>
              <i class="bi bi-alarm text-danger" aria-hidden="true"></i>
              {{ 'Due time' | transloco }} {{ formatDue(exam.endDate) }}
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ 'Activities' | transloco }}</h4>
        <div class="activities-container">
          <div
            *ngFor="let activity of activities$ | async"
            class="card activity-card"
            [routerLink]="['/student/courses', activity.course.id]"
          >
            <div class="card-body">
              <h6 class="regular-text">
                <i
                  *ngIf="activity.type === 4"
                  class="bi bi-journal-bookmark medium-text text-primary"
                  aria-hidden="true"
                ></i>
                <i
                  *ngIf="activity.type === 5"
                  class="bi bi-file-pdf medium-text danger-text"
                  aria-hidden="true"
                ></i>
                {{ activity.course.subject.name }}
              </h6>
              <p class="ink-text">
                {{ activity.createDate | date: 'd/M/yy, h:mm a' }}
              </p>
              <p class="small-text clear-text">{{ activity.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
