<div id="wrapper" class="d-flex">
  <skooltrak-sidebar [role]="'teacher'"></skooltrak-sidebar>
  <div id="page-content-wrapper">
    <nav
      skooltrak-notifications-bar
      class="
        navbar navbar-expand-lg
        sticky-top
        navbar-light
        bg-light
        d-none d-md-flex
      "
      aria-label="notifications-bar"
    ></nav>
    <nav
      skooltrak-top-bar
      [role]="'teacher'"
      class="navbar navbar-expand-lg navbar-dark d-block d-md-none"
      aria-label="mobile-bar"
    ></nav>
    <main class="container-fluid">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
