<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">{{ 'Name' | transloco }}</th>
      <th scope="col">{{ 'Description' | transloco }}</th>
      <th scope="col">{{ 'Uploaded by' | transloco }}</th>
      <th scope="col">{{ 'Uploaded date' | transloco }}</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let document of documents$ | async"
      [hidden]="!showFile(document)"
    >
      <td>
        <img [appFileIcon]="document" alt="file" />
      </td>
      <td>
        <a [href]="filesService.getFile(document.file.id)" [download]="true">{{
          document.name
        }}</a>
      </td>
      <td>
        {{ document.description }}
      </td>
      <td>
        <span class="card-title bold-text">
          <span [innerHTML]="document.createUser.photoURL | avatar"></span
          >{{ document.createUser.displayName }}</span
        >
      </td>
      <td>{{ document.createDate | date: 'medium' }}</td>
    </tr>
  </tbody>
</table>
<button
  class="btn btn-primary rounded-pill float-button"
  type="button"
  (click)="showModal()"
>
  <span class="bi bi-upload"></span> {{ 'Add document' | transloco }}
</button>
