<form [formGroup]="form" (ngSubmit)="modal.close(form.value)">
  <div class="modal-header">
    <h4 class="modal-title">{{ 'Course content' | transloco }}</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="close"
      (click)="modal.dismiss()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="title">{{ 'Title' | transloco }}</label>
          <input
            type="text"
            class="form-control"
            formControlName="title"
            name="title"
            id="title"
            [placeholder]="'Content title...' | transloco"
          />
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="body">{{ 'Content' | transloco }}</label>
          <div [ngxSummernote]="config" formControlName="body"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="submit"
      [disabled]="!form.valid"
      class="btn btn-primary"
      ngbAutofocus
    >
      {{ 'Save' | transloco }}
    </button>
  </div>
</form>
