<div class="card">
  <div class="card-body">
    <h3 class="card-title">{{ 'Settings' | transloco }}</h3>
    <div class="row">
      <div class="col-md-3">
        <div
          (click)="goToSetting('security')"
          class="card shadow-medium setting-card"
        >
          <div
            class="
              card-body
              d-flex
              flex-column
              align-items-center
              justify-content-center
            "
          >
            <span
              class="bi bi-shield-check text-primary light mega-text"
            ></span>
            <h5 class="link-name text-center mt-2">
              {{ 'Security' | transloco }}
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div
          (click)="goToSetting('subjects')"
          class="card shadow-medium setting-card"
        >
          <div
            class="
              card-body
              d-flex
              flex-column
              align-items-center
              justify-content-center
            "
          >
            <span class="bi bi-laptop text-primary light mega-text"></span>
            <h5 class="link-name text-center mt-2">
              {{ 'Subjects' | transloco }}
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div
          (click)="goToSetting('exams')"
          class="card shadow-medium setting-card"
        >
          <div
            class="
              card-body
              d-flex
              flex-column
              align-items-center
              justify-content-center
            "
          >
            <span
              class="bi bi-clipboard-check text-primary light mega-text"
            ></span>
            <h5 class="link-name text-center mt-2">
              {{ 'Exams' | transloco }}
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div
          (click)="goToSetting('plans')"
          class="card shadow-medium setting-card"
        >
          <div
            class="
              card-body
              d-flex
              flex-column
              align-items-center
              justify-content-center
            "
          >
            <span
              class="bi bi-journal-medical text-primary light mega-text"
            ></span>
            <h5 class="link-name text-center mt-2">
              {{ 'Study plans' | transloco }}
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div
          (click)="goToSetting('degrees')"
          class="card shadow-medium setting-card"
        >
          <div
            class="
              card-body
              d-flex
              flex-column
              align-items-center
              justify-content-center
            "
          >
            <span class="bi bi-diagram-2 text-primary light mega-text"></span>
            <h5 class="link-name text-center mt-2">
              {{ 'Degrees' | transloco }}
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div
          (click)="goToSetting('skills')"
          class="card shadow-medium setting-card"
        >
          <div
            class="
              card-body
              d-flex
              flex-column
              align-items-center
              justify-content-center
            "
          >
            <span class="bi bi-patch-check text-primary light mega-text"></span>
            <h5 class="link-name text-center mt-2">
              {{ 'Skills' | transloco }}
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div
          (click)="goToSetting('schools')"
          class="card shadow-medium setting-card"
        >
          <div
            class="
              card-body
              d-flex
              flex-column
              align-items-center
              justify-content-center
            "
          >
            <span class="bi bi-building text-primary light mega-text"></span>
            <h5 class="link-name text-center mt-2">
              {{ 'Schools' | transloco }}
            </h5>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div
          (click)="goToSetting('assignment-types')"
          class="card shadow-medium setting-card"
        >
          <div
            class="
              card-body
              d-flex
              flex-column
              align-items-center
              justify-content-center
            "
          >
            <span
              class="bi bi-check-circle text-primary light mega-text"
            ></span>
            <h5 class="link-name text-center mt-2">
              {{ 'Assignment types' | transloco }}
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div
          (click)="goToSetting('messages')"
          class="card shadow-medium setting-card"
        >
          <div
            class="
              card-body
              d-flex
              flex-column
              align-items-center
              justify-content-center
            "
          >
            <span class="bi bi-envelope text-primary light mega-text"></span>
            <h5 class="link-name text-center mt-2">
              {{ 'Messages' | transloco }}
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div
          (click)="goToSetting('periods')"
          class="card shadow-medium setting-card"
        >
          <div
            class="
              card-body
              d-flex
              flex-column
              align-items-center
              justify-content-center
            "
          >
            <span class="bi bi-calendar3 text-primary light mega-text"></span>
            <h5 class="link-name text-center mt-2">
              {{ 'Periods' | transloco }}
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div
          (click)="goToSetting('cleaning')"
          class="card shadow-medium setting-card"
        >
          <div
            class="
              card-body
              d-flex
              flex-column
              align-items-center
              justify-content-center
            "
          >
            <span class="bi bi-recycle text-primary light mega-text"></span>
            <h5 class="link-name text-center mt-2">
              {{ 'Cleaning' | transloco }}
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
