<table class="table">
  <thead>
    <tr>
      <th scope="col">{{ 'Skill' | transloco }}</th>
      <th scope="col" *ngFor="let period of periods$ | async">
        {{ period.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let skill of items$ | async; else: loading">
      <td class="text-primary">{{ skill.skill.name }}</td>
      <td *ngFor="let period of periods$ | async; let i = index">
        <select
          [(ngModel)]="skill.periods[i].value"
          (ngModelChange)="setValue(skill.skill.id, period.id, $event)"
          class="custom-select form-control"
          name="period"
          id=""
        >
          <option [value]="null">--</option>
          <option [value]="'S'">S</option>
          <option [value]="'R'">R</option>
          <option [value]="'X'">X</option>
        </select>
      </td>
    </tr>
    <ng-template #loading>
      <skooltrak-loading-modal></skooltrak-loading-modal>
    </ng-template>
  </tbody>
</table>
