.row
  margin-bottom: 1rem

.row.bottom
  min-height: 1.5rem

.activity-card
  border: none
  border-radius: 0
  margin-bottom: 0
  cursor: pointer
  border-bottom: 1px solid var(--gray-300)
  p
    margin: 0

.activities-container
  max-height: 80vh
  overflow-y: scroll


.activities-container,
.schedule-container
  max-height: 75vh
  overflow-y: scroll

.week
  overflow-x: scroll
  white-space: nowrap

.day-container
  &:not(:last-child)
    border-bottom: 1px solid var(--gray-400)
    padding-bottom: 1rem
    margin-bottom: 1rem

.day-division
  padding: .65rem
  display: inline-table
  width: 300px !important
  white-space: pre-line
  overflow: hidden
  text-overflow: ellipsis
  min-height: 50vh
  &:not(:last-child)
    border-right: 1px solid var(--gray-400)

@media (min-width: 768px)
  .day-division
    min-height: 75vh

.badge
  font-size: .7rem
