<div class="card layout">
  <div class="card-body">
    <ng-container *ngIf="assignment$ | async as assignment; else loading">
      <h5 class="text-muted">{{ assignment.course.subject.name }}</h5>
      <h3>
        {{ assignment.title }}
        <small class="text-muted"
          >({{ assignment.type.name }})
          {{ assignment.startDate | date : 'd MMM y' : '+1200' }}
          <span *ngIf="assignment.startDate !== assignment.dueDate">
            - {{ assignment.dueDate | date : 'd MMM y' : '+1200' }}</span
          >
        </small>
      </h3>
      <ul ngbNav #nav="ngbNav" class="nav-tabs mt-4">
        <li [ngbNavItem]>
          <a ngbNavLink>
            <i class="bi bi-card-list" aria-hidden="true"></i>
            {{ 'Instructions' | transloco }}
          </a>
          <ng-template ngbNavContent>
            <div class="container">
              <div
                *ngIf="assignment.description"
                [ngxSummernoteView]="assignment.description"
              ></div>
              <skooltrak-editor-view
                [blocks]="assignment.contentBlocks"
              ></skooltrak-editor-view>
            </div>

            <h4 *ngIf="assignment.documents.length">
              {{ 'Support material' | transloco }}
            </h4>
            <div class="row">
              <ng-container *ngFor="let document of assignment.documents">
                <div class="col-lg-4" *ngIf="teacherDoc(document)">
                  <div class="card doc-card">
                    <div class="card-body">
                      <div ngbDropdown class="float-end" container="body">
                        <i
                          class="bi bi-three-dots-vertical medium-text pointer"
                          [id]="document.id + '-menu'"
                          ngbDropdownToggle
                        ></i>
                        <div
                          ngbDropdownMenu
                          [attr.aria-labelled]="document.id + '-menu'"
                        >
                          <a
                            ngbDropdownItem
                            [href]="filesService.getFile(document.file.id)"
                            [download]="true"
                          >
                            <i
                              class="bi bi-download text-primary me-4"
                              aria-hidden="true"
                            ></i>
                            {{ 'Download' | transloco }}
                          </a>
                        </div>
                      </div>

                      <div class="row">
                        <div
                          class="col-lg-3 d-flex justify-content-center align-items-center"
                        >
                          <img
                            [appFileIcon]="document"
                            class="logo"
                            alt="file-icon"
                          />
                        </div>
                        <div class="col">
                          <span class="semibold-text">{{ document.name }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>

            <ng-container *ngIf="videos$ | async as videos">
              <h4 *ngIf="videos.length">Videos</h4>
              <div class="row">
                <div *ngFor="let video of videos" class="col-md-4 col-lg-3">
                  <div class="card doc-card">
                    <div class="card-body" (click)="openVideo(video)">
                      <div class="text-center">
                        <i
                          class="fas fa-video fa-3x mt-2 text-danger"
                          aria-hidden="true"
                        ></i>
                        <div class="medium-text mb-2">{{ video.title }}</div>
                      </div>
                      <div
                        class="d-flex justify-content-end align-items-center"
                      >
                        <span *ngIf="video.published" class="text-success me-2"
                          ><i
                            class="fas fa-check-circle fa-fw"
                            aria-hidden="true"
                          ></i>
                          {{ 'Published' | transloco }}</span
                        >
                        <button
                          type="button"
                          class="btn btn-sm btn-danger rounded-pill"
                          (click)="deleteVideo(video.id)"
                        >
                          <i class="bi bi-trash fa-fw" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-template>
          <ng-template #actionsMenu let-doc>
            <div class="list-group list-group-flush shadow-high bordered">
              <a
                [href]="filesService.getFile(doc.file.id)"
                [download]="true"
                class="list-group-item list-group-item-action"
              >
                <i
                  class="fas fa-download fa-fw text-primary me-4"
                  aria-hidden="true"
                ></i>
                Descargar
              </a>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem] *ngIf="assignment.uploadFile">
          <a ngbNavLink>
            <i class="bi bi-folder" aria-hidden="true"></i>
            {{ 'Documents' | transloco }}
          </a>
          <ng-template ngbNavContent>
            <skooltrak-documents
              [assignment]="assignment"
            ></skooltrak-documents>
          </ng-template>
        </li>
        <li [ngbNavItem] *ngIf="assignment.hasForum">
          <a ngbNavLink>
            <i class="bi bi-chat-left-text" aria-hidden="true"></i>
            {{ 'Forum' | transloco }}
          </a>
          <ng-template ngbNavContent>
            <skooltrak-forum [assignment]="assignment"></skooltrak-forum>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
      <div
        *ngIf="assignment.uploadFile || assignment.uploadVideo"
        class="float-button"
      >
        <span class="medium-text">{{ 'Upload' | transloco }}</span>
        <button
          type="button"
          (click)="addDocument(assignment)"
          [tippy]="'Document' | transloco"
          [hidden]="!assignment.uploadFile"
          class="btn btn-primary btn-lg rounded-pill"
        >
          <i class="bi bi-paperclip" aria-hidden="true"></i>
        </button>
        <button
          type="button"
          (click)="addVideo(assignment)"
          [hidden]="!assignment.uploadVideo"
          [tippy]="'Video' | transloco"
          class="btn btn-danger btn-lg rounded-pill"
        >
          <i class="bi bi-camera-video" aria-hidden="true"></i>
        </button>
      </div>
    </ng-container>
    <ng-template #loading
      ><skooltrak-loading-modal></skooltrak-loading-modal
    ></ng-template>
  </div>
</div>
