<div class="form-label-group">
  <input
    [required]="required"
    class="form-control"
    [(ngModel)]="current"
    [minDate]="minDate"
    [maxDate]="maxDate"
    (ngModelChange)="change()"
    placeholder=" "
    ngbDatepicker
    #d="ngbDatepicker"
    id="id"
    (click)="d.toggle()"
  />
  <label for="id">{{ label }}</label>
</div>
