<div class="card">
  <div class="card-body">
    <h4 class="card-title">Exámenes</h4>
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li ngbNavItem>
        <a ngbNavLink> Pendientes </a>
        <ng-template ngbNavContent>
          <div *ngIf="exams$ | async as exams; else loading" class="">
            <div
              class="d-flex flex-column align-items-center justify-content-center my-5"
              *ngIf="!exams.length"
            >
              <img class="no-quizes" src="assets/img/no-quizes.svg" alt="" />
              <p class="medium-text ink-text">No tiene exámenes pendientes</p>
            </div>
            <div
              *ngFor="let exam of exams"
              [routerLink]="[exam.id]"
              class="card shadow-medium pointer"
            >
              <div class="card-body">
                <div class="row">
                  <div
                    class="col-md-8 d-flex flex-column justify-content-center"
                  >
                    <p class="title medium-text">
                      {{ exam.assignation.name }} -
                      <small class="primary-text">{{
                        exam.course.subject.name
                      }}</small>
                    </p>
                    <p class="regular-text clear-text">
                      Puntos: {{ exam.totalPoints }}
                    </p>
                  </div>
                  <div
                    class="col-md-4 d-flex align-items-center justify-content-end"
                  >
                    <p class="primary-text">
                      <i class="fas fa-clock fa-fw" aria-hidden="true"></i>
                      Fecha de vencimiento {{ formatDue(exam.endDate) }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ng-template #loading>
            <skooltrak-loading-modal></skooltrak-loading-modal>
          </ng-template>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>Resultados</a>
        <ng-template ngbNavContent>
          <skooltrak-results></skooltrak-results>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>
</div>
