<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ 'Study plans' | transloco }}</h4>
    <skooltrak-custom-table
      [options]="table"
      [items]="plans$ | async"
      (addItem)="createPlan($event)"
      (editItem)="editPlan($event)"
      (removeItem)="deletePlan($event)"
    ></skooltrak-custom-table>
  </div>
</div>
