<div *ngIf="videos$ | async as videos; else loading">
  <div
    *ngIf="!videos.length"
    class="d-flex flex-column p-3 align-items-center justify-content-center"
  >
    <img class="no-docs p-2" src="assets/img/no-videos.svg" alt="No videos" />
    <p class="text-center p-1 medium-text">
      {{ 'No videos yet' | transloco }}
    </p>
    <button type="button" (click)="addVideo()" class="btn btn-primary">
      {{ 'New video' | transloco }}
    </button>
  </div>
  <div @fade class="row" *ngIf="videos.length">
    <h4>{{ 'Course videos' | transloco }}</h4>
    <div *ngFor="let video of videos" class="col-lg-3">
      <div class="card">
        <div class="card-body" (click)="openVideo(video)">
          <div class="text-center">
            <i
              class="bi bi-camera-video-fill mega-text mt-2 text-danger"
              aria-hidden="true"
            ></i>
            <div class="medium-text mb-2">{{ video.title }}</div>
          </div>
          <div class="bold-text">
            <span [innerHTML]="video.uploadedBy.photoURL | avatar"></span>
            {{ video.uploadedBy.displayName }}
          </div>
          <div class="clear-text small-text">
            {{ video.createdDate | timeAgo }}
          </div>
        </div>
        <div class="card-footer d-flex justify-content-end align-items-center">
          <span *ngIf="video.published" class="text-success me-2"
            ><i class="bi bi-check-circle-fill" aria-hidden="true"></i>
            {{ 'Published' | transloco }}</span
          >
          <button
            type="button"
            class="btn btn-sm btn-primary rounded-pill me-2"
            (click)="editVideo(video)"
          >
            <i class="bi bi-pencil-square" aria-hidden="true"></i>
          </button>
          <button
            type="button"
            class="btn btn-sm btn-danger rounded-pill"
            (click)="deleteVideo(video.id)"
          >
            <i class="bi bi-trash" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <skooltrak-loading-modal></skooltrak-loading-modal>
</ng-template>
<button
  type="button"
  (click)="addVideo()"
  class="btn float-button btn-primary rounded-pill"
>
  <i class="bi bi-upload" aria-hidden="true"></i>
  {{ 'New video' | transloco }}
</button>
