<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="plan">{{ 'Study plan' | transloco }}</label>
        <select
          class="custom-select form-control"
          [(ngModel)]="currentPlan"
          name="plan"
          id="plan"
        >
          <option selected [ngValue]="undefined">
            {{ '-Select-' | transloco }}
          </option>
          <option *ngFor="let plan of plans$ | async" [ngValue]="plan">
            {{ plan.name }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div *ngIf="currentPlan" class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12 d-flex justify-content-between">
          <p>
            <span class="clear-text">{{ 'Total charges' | transloco }}: </span>
            <span class="large-text">{{ total() | currency : 'PAB' }}</span>
          </p>
          <div>
            <button
              id="copy-charges"
              type="button"
              class="btn btn-primary"
              (click)="open(content)"
            >
              <i class="bi bi-back" aria-hidden="true"></i>
              {{ 'Copy charges' | transloco }}
            </button>
            <button
              id="print-pdf"
              type="button"
              (click)="printPDF()"
              class="btn btn-success"
            >
              <i class="bi bi-print" aria-hidden="true"></i>
              {{ 'Print' | transloco }}
            </button>
          </div>
        </div>
      </div>

      <skooltrak-custom-table
        [options]="table"
        [items]="currentPlan.enrollCharges"
        (addItem)="addCharge($event)"
        (editItem)="editCharge($event)"
        (removeItem)="deleteCharge($event)"
      ></skooltrak-custom-table>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ 'Copy charges' | transloco }}</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="plan-copy">{{ 'Study plans' | transloco }}</label>
        <select
          [(ngModel)]="sourceId"
          class="custom-select form-control"
          name="plan-copy"
          id="plan-copy"
        >
          <option [ngValue]="undefined" [disabled]="true" selected>
            {{ '-Select-' | transloco }}
          </option>
          <option *ngFor="let plan of plans$ | async" [ngValue]="plan.id">
            {{ plan.name }}
          </option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      [disabled]="!sourceId"
      type="button"
      class="btn btn-primary"
      (click)="modal.close('Save click')"
    >
      <i class="bi bi-back" aria-hidden="true"></i>
      {{ 'Copy' | transloco }}
    </button>
  </div>
</ng-template>
