<div class="card">
  <div class="card-body">
    <h4>Limpieza del sistema</h4>

    <table class="table skooltrak-custom-table table-bordered">
      <thead>
        <tr>
          <th>Item</th>
          <th>Elementos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items$ | async">
          <td>{{ item.description | transloco }}</td>
          <td>{{ item.value }}</td>
        </tr>
      </tbody>
    </table>
    <button
      type="button"
      class="btn btn-primary mt-1 float-end"
      (click)="selectItems()"
    >
      Hacer limpieza
    </button>
  </div>
</div>
