<div class="card">
  <div class="card-body">
    <ng-container *ngIf="group$ | async; let group">
      <ng-container *ngIf="plan$ | async; else loading; let plan">
        <h4 class="card-title mb-0">{{ group.name }}</h4>
        <h6 class="clear-text">{{ group.studyPlan.name }}</h6>
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <skooltrak-custom-select
                id="student"
                [(ngModel)]="selected"
                [multiple]="false"
                [items]="students$ | async"
                [multiple]="false"
                [placeholder]="'Select student' | transloco"
                [items]="students$ | async"
                [displayValue]="'shortName'"
              ></skooltrak-custom-select>
            </div>
          </div>
        </div>
        <ng-container *ngIf="selected">
          <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li [ngbNavItem] *ngIf="!plan.preschool">
              <a ngbNavLink>{{ 'Grades' | transloco }}</a>
              <ng-template ngbNavContent>
                <skooltrak-grades [student]="selected"></skooltrak-grades>
              </ng-template>
            </li>
            <li [ngbNavItem] *ngIf="plan.preschool">
              <a ngbNavLink>{{ 'Evaluation' | transloco }}</a>
              <ng-template ngbNavContent>
                <skooltrak-evaluation
                  [student]="selected"
                  [group]="group"
                  [plan]="plan"
                ></skooltrak-evaluation>
              </ng-template>
            </li>
            <li [ngbNavItem]>
              <a ngbNavLink>{{ 'Skills' | transloco }}</a>
              <ng-template ngbNavContent>
                <skooltrak-skills [student]="selected"></skooltrak-skills>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-template #loading>
      <skooltrak-loading-modal></skooltrak-loading-modal>
    </ng-template>
  </div>
</div>
