<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ 'My videos' | transloco }}</h4>
    <div *ngIf="videos$ | async as videos; else loading">
      <div
        *ngIf="!videos.length"
        class="d-flex flex-column align-items-center justify-content-center"
      >
        <img class="no-docs" src="assets/img/no-videos.svg" alt="No videos" />
        <p class="text-center mt-2 medium-text">
          {{ 'No videos yet' | transloco }}
        </p>
      </div>
      <div @fade class="row" *ngIf="videos.length">
        <div class="col-md-3" *ngFor="let video of videos">
          <div class="card">
            <div class="card-body pb-2" (click)="openVideo(video)">
              <div class="text-center">
                <i
                  class="fas fa-video fa-3x mt-2 text-danger"
                  aria-hidden="true"
                ></i>
                <div class="medium-text mb-2">{{ video.title }}</div>
              </div>
              <div class="bold-text">
                {{ video.uploadedBy.displayName }}
              </div>
              <div class="clear-text small-text">
                {{ video.createdDate | timeAgo }}
              </div>
            </div>
            <div
              class="card-footer d-flex justify-content-end align-items-center"
            >
              <span *ngIf="video.published" class="text-success me-2"
                ><i class="fas fa-check-circle fa-fw" aria-hidden="true"></i>
                {{ 'Published' | transloco }}</span
              >
              <button
                type="button"
                class="btn btn-sm btn-primary rounded-pill me-2"
                (click)="editVideo(video)"
              >
                <i class="fas fa-edit fa-fw" aria-hidden="true"></i>
              </button>
              <button
                type="button"
                class="btn btn-sm btn-danger rounded-pill"
                (click)="deleteVideo(video.id)"
              >
                <i class="fas fa-trash-alt fa-fw" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #loading>
      <skooltrak-loading-modal></skooltrak-loading-modal>
    </ng-template>
  </div>
</div>
