<div class="container pb-4">
  <h4>{{ 'Credits' | transloco }}</h4>
  <div class="row">
    <div class="col-md-6">
      <skooltrak-custom-select
        [items]="students$ | async"
        [displayValue]="'fullName'"
        [placeholder]="'Select student' | transloco"
        [secondaryDisplay]="'documentId'"
        [(ngModel)]="student"
      ></skooltrak-custom-select>
    </div>
    <div class="col-md-3">
      <skooltrak-custom-select
        [items]="formats"
        [displayValue]="'name'"
        [placeholder]="'Select format' | transloco"
        [(ngModel)]="selectedFormat"
      ></skooltrak-custom-select>
    </div>
    <div class="col-md-3">
      <select
        class="form-control custom-select"
        name="level"
        id="level"
        [(ngModel)]="level"
      >
        <option selected disabled>--Seleccionar nivel---</option>
        <option *ngFor="let level of levels">{{ level }}</option>
      </select>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary mt-2" (click)="generateReport(student)">
        {{ 'Print' | transloco }}
      </button>
    </div>
  </div>
</div>
