<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ 'New school' | transloco }}</h4>
    <skooltrak-schools-form (save)="saveSchool($event)"></skooltrak-schools-form>
  </div>
</div>
