<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ 'Schools' | transloco }}</h4>
    <skooltrak-custom-table
      [options]="table"
      [items]="schools$ | async"
    ></skooltrak-custom-table>
  </div>
</div>
