.fa-square
  &:hover
    color: var(--success-600)

.no-content
  height: 12rem

.no-content-container
  height: 45vh

.inbox-message
  cursor: pointer
  font-weight: bold
  margin-bottom: .5rem
  color: var(--gray-800)
  .card-body
    padding: 1rem
  &.read
    background-color: var(--gray-200)
    font-weight: normal
  &:hover
    background-color: var(--gray-100)

.messages-container
  max-height: 57vh
  height: 57vh
  overflow-y: scroll

.actions
  cursor: pointer
  opacity: .25
  i
    margin-right: .5rem

.list-group-item
  font-weight: bold
  border-radius: 0
  padding: 1rem
  border: 1px solid var(--gray-300)
  border-top-width: 0
  border-left: none
  border-right: none
  &.read
    font-weight: normal
    background-color: var(--gray-100)
  &:first-child
    border-top-width: 1px
  &:last-child
    border-bottom-width: 0
  &:hover
    .actions
      opacity: 1
