<div class="card shadow-high">
  <div class="card-body">
    <h4 class="card-title">{{ 'Inbox' | transloco }}</h4>
    <cdk-virtual-scroll-viewport class="messages-container" itemSize="40">
      <div
        class="d-flex flex-column justify-content-center no-content-container"
        *ngIf="inboxSource.cachedMessages.length === 0"
      >
        <ng-container *ngIf="!inboxSource.initialLoading">
          <img
            src="assets/img/empty-inbox.svg"
            alt="Empty"
            class="mt-4 no-content"
          />
          <p class="mt-2 text-center medium-text">
            {{ 'No messages yet' | transloco }}
          </p>
        </ng-container>
        <ng-container *ngIf="inboxSource.initialLoading">
          <ng-lottie height="250px" [options]="loading"></ng-lottie>
          <p class="mt-2 text-center medium-text">
            {{ 'Loading messages' | transloco }}
          </p>
        </ng-container>
      </div>
      <ul class="list-group list-unstyled">
        <ng-container *cdkVirtualFor="let message of inboxSource">
          <li
            [class.read]="message.read"
            class="list-group-item d-flex"
            (dblclick)="openMessage(message)"
          >
            <div class="col-md-2 col-lg-1 actions">
              <i
                class="bi bi-reply medium-text text-primary"
                (click)="replyMessage(message)"
                [tippy]="'Answer' | transloco"
                aria-hidden="true"
              ></i>
              <i
                class="bi bi-trash medium-text text-danger"
                aria-hidden="true"
                (click)="trash(message.id)"
                [tippy]="'Send trash' | transloco"
              ></i>
            </div>
            <div class="col-md-4 pointer" (click)="openMessage(message)">
              <skooltrak-profile-popover
                [user]="message.reference.sender"
              ></skooltrak-profile-popover>
            </div>
            <div
              class="col-lg-5 col-md-4 pointer"
              (click)="openMessage(message)"
            >
              {{ message.reference.title }}
            </div>
            <div class="col-md-2 pointer" (click)="openMessage(message)">
              {{ message.arrivalDate | timeMessage }}
            </div>
          </li>
        </ng-container>
      </ul>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
