<div class="card">
  <div *ngIf="plan$ | async as plan" class="card-body">
    <h4 class="card-title">{{ plan.name }}</h4>
    <div class="row">
      <div class="col-md-4">
        <p class="label">{{ 'Level' | transloco }}</p>
        <p class="element">{{ plan.degree?.name }}</p>
      </div>
    </div>
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="fas fa-chalkboard" aria-hidden="true"></i>
          {{ 'Courses' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <div class="container-fluid">
            <skooltrak-courses [plan]="plan"></skooltrak-courses>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="fas fa-users" aria-hidden="true"></i>
          {{ 'Groups' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <skooltrak-groups [plan]="plan"></skooltrak-groups>
        </ng-template>
      </li>
      <li *ngIf="plan.preschool" [ngbNavItem]>
        <a ngbNavLink>
          <i class="fas fa-certificate fa-fw" aria-hidden="true"></i>
          {{ 'Evaluation' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <skooltrak-evaluation [plan]="plan"></skooltrak-evaluation>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>
