<div class="card">
  <div class="card-body">
    <h4 class="card-title">
      {{ 'Subjects' | transloco }}
    </h4>
    <skooltrak-custom-table
      [options]="table"
      [items]="subjects$ | async"
      (addItem)="createSubject($event)"
      (editItem)="editSubject($event)"
      (removeItem)="deleteSubject($event)"
    ></skooltrak-custom-table>
  </div>
</div>
