<div class="modal-header">
  <h5 class="modal-title text-muted">{{ assignment.course.subject.name }}</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="close"
    (click)="modal.dismiss()"
  ></button>
</div>
<div class="modal-body">
  <h4>
    {{ assignment.title }}
    <small class="text-muted"
      >({{ assignment.type.name }})
      {{ assignment.startDate | date: 'd MMM y':'+1200' }}
      <span *ngIf="assignment.startDate !== assignment.dueDate">
        - {{ assignment.dueDate | date: 'd MMM y':'+1200' }}</span
      >
    </small>
  </h4>
  <span class="badge badge-pill badge-success mb-4">
    <i class="fas fa-chalkboard-teacher fa-fw" aria-hidden="true"></i>
    {{ assignment.teacher.name }}</span
  >
  <div
    *ngIf="assignment.description"
    [ngxSummernoteView]="assignment.description"
  ></div>
  <skooltrak-editor-view [blocks]="assignment.contentBlocks"></skooltrak-editor-view>
</div>
<div class="modal-footer">
  <button
    type="button"
    (click)="modal.close('course')"
    class="btn btn-secondary"
  >
    {{ 'Go to course' | transloco }}
  </button>
  <button type="button" (click)="modal.close()" class="btn btn-primary">
    {{ 'Go to assignment' | transloco }}
  </button>
</div>
