<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        {{ 'Previous' | transloco }}
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        {{ 'Today' | transloco }}
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        {{ 'Next' | transloco }}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate : view + 'ViewTitle' : 'es-PA' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        {{ 'Month' | transloco }}
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        {{ 'Week' | transloco }}
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        {{ 'Day' | transloco }}
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="text-center">
    <skooltrak-loading-modal></skooltrak-loading-modal>
  </div>
</ng-template>
<div class="container-fluid">
  <div *ngIf="days$ | async; else loading; let events">
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="'month'"
        [viewDate]="viewDate"
        [events]="events"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="selectDay($event.event, content)"
      >
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="'week'"
        [viewDate]="viewDate"
        [events]="events"
      >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="'day'"
        [viewDate]="viewDate"
        [events]="events"
      >
      </mwl-calendar-day-view>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ 'Payment day' | transloco }}</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="title">{{ 'Description' | transloco }}</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="selectedDay.title"
              name="title"
              id="title"
              placeholder=""
            />
          </div>
        </div>
        <div class="col-md-6">
          <label for="start-date">{{ 'Start date' | transloco }}</label>
          <skooltrak-custom-datepicker
            [(ngModel)]="selectedDay.startDate"
            name="start-date"
          ></skooltrak-custom-datepicker>
        </div>
        <div class="col-md-6">
          <label for="due-date">{{ 'Due date' | transloco }}</label>
          <skooltrak-custom-datepicker
            [(ngModel)]="selectedDay.dueDate"
            [minDate]="convertDate(selectedDay.startDate)"
            name="due-date"
          ></skooltrak-custom-datepicker>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close('Save click')"
    >
      <i class="bi bi-save" aria-hidden="true"></i>
      {{ 'Save' | transloco }}
    </button>
  </div>
</ng-template>

<div class="row bottom"></div>
<button
  type="button"
  class="btn btn-primary float-button"
  (click)="open(content)"
>
  {{ 'New payment date' | transloco }}
</button>
