<div class="card">
  <div class="card-body">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li [ngbNavItem]>
        <a ngbNavLink>
          <span class="bi bi-credit-card"></span>
          {{ 'Payments' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <skooltrak-payments></skooltrak-payments>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="bi bi-pie-chart"></i>
          {{ 'Reports' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <skooltrak-reports></skooltrak-reports>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink>
          <span class="bi bi-cash-coin"></span>
          {{ 'Enroll costs' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <skooltrak-enroll-costs></skooltrak-enroll-costs>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink>
          <span class="bi bi-calendar3"></span>
          {{ 'Payment days' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <skooltrak-payment-days></skooltrak-payment-days>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>
