<h5>Asignaciones</h5>
<div
  class="container-fluid"
  *ngIf="assignations$ | async as exams; else loading"
>
  <div
    class="d-flex flex-column align-items-center justify-content-center"
    *ngIf="!exams.length"
  >
    <img class="no-quizes" src="assets/img/no-quizes.svg" alt="" />
    <p class="medium-text ink-text">
      {{ 'You dont have pending quizes' | transloco }}
    </p>
  </div>
  <div *ngFor="let quiz of exams" class="card shadow-medium">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center">
          <p class="title medium-text">
            {{ quiz.title }} -
            <small class="primary-text">{{ quiz.course.subject.name }}</small>
          </p>
          <p class="regular-text clear-text">
            {{ 'Group' | transloco }}: {{ quiz.group.name }}
          </p>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-end">
          <p class="primary-text">
            <i class="fas fa-clock fa-fw" aria-hidden="true"></i>
            {{ quiz.startDate | customDate : 'time' }} -
            {{ quiz.endDate | customDate : 'time' }}
          </p>
        </div>
      </div>
      <div class="actions-row row">
        <div class="col-12 d-flex align-items-center justify-content-end">
          <button
            type="button"
            class="btn btn-secondary btn-sm rounded-pill"
            (click)="editAssignation(quiz)"
          >
            <i class="far fa-edit fa-fw" aria-hidden="true"></i>
            {{ 'Edit' | transloco }}
          </button>
          <a
            class="btn btn-primary btn-sm rounded-pill"
            [routerLink]="['../', 'results', quiz.id]"
            role="button"
          >
            <i class="far fa-chart-bar fa-fw" aria-hidden="true"></i>
            {{ 'See results' | transloco }}</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <skooltrak-loading-modal></skooltrak-loading-modal>
</ng-template>
