.items-count
  margin-bottom: 0
  font-size: 16px

.search-form
  margin-bottom: 0

.top-bar
  margin-bottom: 0.75rem

.btn-outline-primary
  margin-left: 10px

.paginator
  margin-bottom: 16px

.btn
  margin-left: 20px

.actions-cell > .action-button
  margin: 0 2.5px
  i
    opacity: 0
    cursor: pointer

.actions-cell > .action-button.toggle-selection
  i
    opacity: 1
    cursor: pointer

table th
  border-top-width: 0

.table thead th
  border-bottom-width: 0

td
  vertical-align: middle !important

.table-sm td,
.table-sm th
  padding: 0.3rem 0.75rem

th.actions-header
  color: transparent !important

tr.form-table > td
  padding: 0

.table-hover tbody tr:hover
  background-color: #F7FAFC
  .action-button > i
    opacity: 1

@media screen and (max-width: 768px)
  table
    width: 100%
  thead
    display: none
  tr
    border: 1px solid #dee2e6
  tr:nth-of-type(2n)
    background-color: inherit
  tr td:first-child
    background: #f0f0f0
    font-weight: bold
    font-size: 1.3em
  td, th
    white-space: pre-wrap !important
  tbody
    td
      display: block
      text-align: center
      border-width: 0
    td:before
      content: attr(data-th)
      display: block
      text-align: center
  #lookup-row
    display: none

form.tr
  display: table-row

.td
  display: table-cell

.badge
  font-size: 90%
  margin: .25rem !important
  font-weight: 500 !important

.dropdown-toggle::after
  display: none !important
