<div class="row back justify-content-end">
  <div
    *transloco="let t"
    class="col-md-6 col-lg-4 form-container bg-white d-flex flex-column justify-content-center"
  >
    <form class="card" [formGroup]="loginForm" (ngSubmit)="signIn()">
      <div class="d-flex align-items-center justify-content-center">
        <a [href]="school?.website" [target]="'blank'">
          <img
            *ngIf="school"
            [src]="schoolService.getLogo(school)"
            class="crest mb-2"
            alt="logo"
          />
        </a>
      </div>
      <h5 class="text-center light-text ">{{ school?.name }}</h5>
      <p class="text-center clear-text mb-3"><em>{{ school?.motto }}</em></p>
      <div class="form-group">
        <label class="form-label" for="email">{{ t('Email and password') }}</label>
        <input
          type="email"
          name="email"
          id="email"
          formControlName="userName"
          autocomplete="email"
          class="form-control form-control-lg"
          placeholder="Usuario"
        />
      </div>
      <div class="form-group">
        <label class="form-label" for="password">{{ 'Password' | transloco }}</label>
        <input
          type="password"
          formControlName="password"
          name="password"
          id="password"
          class="form-control form-control-lg"
          placeholder="********"
        />
      </div>
      <div class="d-flex flex-column">
        <div class="row">
          <div class="col-md-12 d-grid">
            <button
              [disabled]="!loginForm.valid"
              type="submit"
              class="btn btn-primary mb-3"
            >
              {{ 'Log in' | transloco }}
            </button>
          </div>
          <div class="col-md-12 text-center">
            <a [routerLink]="['/reset-password']">
              {{ 'Forgot password' | transloco }}
            </a>
          </div>
          <div class="col-md-12 text-center mt-2 powered">
            <h6 class="clear-text">
              Powered by
              <a [href]="'https://skooltrak.com'" [target]="'_blank'"
                ><img src="assets/img/logo-horizontal.png" alt=""
              /></a>
            </h6>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="welcome-message d-none d-lg-block">
  <img class="logo mb-4" src="assets/img/logo-horizontal-light.png" alt="" />
  <h3 class="text-white mega-text">Bienvenido a Skooltrak</h3>
  <h4 class="text-white titan-text">Plataforma educativa virtual</h4>
</div>
