<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
      <a [routerLink]="['../']">{{ 'Back' | transloco }}</a>
    </li>
  </ol>
</nav>
<div
  *ngIf="message$ | async as message; else loading"
  class="message-container"
>
  <h5 class="card-title">{{ message.title }}</h5>
  <span class="card-title bold-text block">
    {{ 'From' | transloco }}:
    <span [innerHTML]="message.sender.photoURL | avatar"></span
    >{{ message.sender.displayName }}
    <span
      class="badge badge-primary badge-pill ms-2"
      *ngIf="message.sender.group"
      >{{ message.sender.group?.name }}</span
    >
  </span>
  <span class="small-text clear-text block">{{
    formatDate(message.sendDate)
  }}</span>
  <div class="receiver-container">
    {{ 'Receivers' | transloco }}:
    <span
      *ngFor="let receiver of message.receivers"
      class="badge badge-primary badge-pill small-text"
      >{{ receiver.name ?? receiver.displayName }}</span
    >
  </div>
  <div class="content" [ngxSummernoteView]="message.content"></div>
  <skooltrak-editor-view
    [blocks]="message.contentBlocks"
  ></skooltrak-editor-view>
  <div class="row">
    <div *ngFor="let attachment of message.attached" class="col-md-4">
      <a
        class="card shadow-medium"
        [href]="filesService.getFile(attachment.id)"
      >
        <div class="card-body row">
          <div
            class="col-md-3 d-flex justify-content-center align-items-center"
          >
            <i [class]="getFileIcon(attachment)" aria-hidden="true"></i>
          </div>
          <div class="col-md-9 d-flex align-items-center">
            <span>{{ attachment.fileName }}</span>
          </div>
        </div>
      </a>
    </div>
  </div>
  <button
    type="button"
    (click)="replyMessage(message)"
    class="btn btn-outline-primary"
  >
    Responder
  </button>
</div>
<ng-template #loading>
  <skooltrak-loading-modal></skooltrak-loading-modal>
</ng-template>
